// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin transition($time, $property: all, $animation: ease) {
	-webkit-transition: $property $time $animation;
	-moz-transition: $property $time $animation;
	-ms-transition: $property $time $animation;
	-o-transition: $property $time $animation;
	transition: $property $time $animation;
}