/**
 * Fonts
 */
 @font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-BoldItalic.eot');
    src: local('Forza Bold Italic'), local('Forza-BoldItalic'),
        url('fonts/Forza-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-BoldItalic.woff2') format('woff2'),
        url('fonts/Forza-BoldItalic.woff') format('woff'),
        url('fonts/Forza-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Medium.eot');
    src: local('Forza Medium'), local('Forza-Medium'),
        url('fonts/Forza-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-Medium.woff2') format('woff2'),
        url('fonts/Forza-Medium.woff') format('woff'),
        url('fonts/Forza-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Thin.eot');
    src: local('Forza Thin'), local('Forza-Thin'),
        url('fonts/Forza-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-Thin.woff2') format('woff2'),
        url('fonts/Forza-Thin.woff') format('woff'),
        url('fonts/Forza-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Light.eot');
    src: local('Forza Light'), local('Forza-Light'),
        url('fonts/Forza-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-Light.woff2') format('woff2'),
        url('fonts/Forza-Light.woff') format('woff'),
        url('fonts/Forza-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-LightItalic.eot');
    src: local('Forza Light Italic'), local('Forza-LightItalic'),
        url('fonts/Forza-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-LightItalic.woff2') format('woff2'),
        url('fonts/Forza-LightItalic.woff') format('woff'),
        url('fonts/Forza-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Forza Book';
    src: url('fonts/Forza-Book.eot');
    src: local('Forza Book'), local('Forza-Book'),
        url('fonts/Forza-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-Book.woff2') format('woff2'),
        url('fonts/Forza-Book.woff') format('woff'),
        url('fonts/Forza-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forza Book';
    src: url('fonts/Forza-BookItalic.eot');
    src: local('Forza Book Italic'), local('Forza-BookItalic'),
        url('fonts/Forza-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-BookItalic.woff2') format('woff2'),
        url('fonts/Forza-BookItalic.woff') format('woff'),
        url('fonts/Forza-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Black.eot');
    src: local('Forza Black'), local('Forza-Black'),
        url('fonts/Forza-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-Black.woff2') format('woff2'),
        url('fonts/Forza-Black.woff') format('woff'),
        url('fonts/Forza-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-ThinItalic.eot');
    src: local('Forza Thin Italic'), local('Forza-ThinItalic'),
        url('fonts/Forza-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-ThinItalic.woff2') format('woff2'),
        url('fonts/Forza-ThinItalic.woff') format('woff'),
        url('fonts/Forza-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-BlackItalic.eot');
    src: local('Forza Black Italic'), local('Forza-BlackItalic'),
        url('fonts/Forza-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-BlackItalic.woff2') format('woff2'),
        url('fonts/Forza-BlackItalic.woff') format('woff'),
        url('fonts/Forza-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-Bold.eot');
    src: local('Forza Bold'), local('Forza-Bold'),
        url('fonts/Forza-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-Bold.woff2') format('woff2'),
        url('fonts/Forza-Bold.woff') format('woff'),
        url('fonts/Forza-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Forza';
    src: url('fonts/Forza-MediumItalic.eot');
    src: local('Forza Medium Italic'), local('Forza-MediumItalic'),
        url('fonts/Forza-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Forza-MediumItalic.woff2') format('woff2'),
        url('fonts/Forza-MediumItalic.woff') format('woff'),
        url('fonts/Forza-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

body,
button,
input,
select,
textarea {
	margin: 0;
    font-weight: 300;
	font-family: $font__main;
    @include font-size(1);
    color: $color__primary-blue-default;
	line-height: $font__line-height-body;
	background-color: #fff;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: $font__secondary;
}

/**
 * Copy
 */

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.fw-300,
.font-weight-light {
	font-weight: 300 !important;
}
.fw-400,
.font-weight-normal {
	font-weight: 400 !important;
}
.fw-600 {
	font-weight: 600 !important;
}
.fw-700,
.font-weight-bold {
	font-weight: 700 !important;
}
.fw-800 {
	font-weight: 800 !important;
}
.fw-900 {
	font-weight: 900 !important;
}