/**
 * Colors
 */
$color__accent-red-default: #C81820;
$color__accent-yellow-a: #FDC82F;
$color__accent-yellow-b: #FAE700;

$color__primary-blue-default: #003145;
$color__primary-blue-hover: #003B70;
$color__primary-blue-disabled: #AECEEB;

$color__secondary-blue-default: #007BBB;
$color__secondary-blue-hover: #005E90;
$color__secondary-blue-disabled: #9BC2D7;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-body: #fff;
$color__background-body-2: #F7F7F7;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__secondary-blue-hover;
$color__background-button-hover: $color__primary-blue-hover;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #830206;
$color__link-visited: purple;
$color__link-hover: #830206;

$color__text-blue: #0059A9;
$color__text-red: #C81820;
$color__text-grey: #121719;
$color__text-white: #fff;
$color__text-main: #382b2b;
$color__neutrals_1: #C7C7C7;
$color__neutrals_2: #333;
$color__neutrals_050: #E7E7E7;
$color__neutrals_125: #A7A7A7;
$color__neutrals_150: #979797;
$color__neutrals_175: #777777;
$color__neutrals_200: #575757;
$color__neutrals_225: #333;

$shadow__state-hover: 0px 12px 24px rgba(45, 45, 45, 0.1);

 /**
  * Typography
  */
$font__main: "Overpass", sans-serif;
$font__secondary: "Forza", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// mobile
$font__size-mobile-h1: 37;
$font__size-mobile-h2: 28;
$font__size-mobile-h3: 21;
$font__size-mobile-h4: 16;
$font__size-mobile-h5: 16;
$font__size-mobile-eyebrow: 10;
$font__size-mobile-nav: 16;
$font__size-mobile-body: 16;
$font__size-mobile-btn: 12;
$font__size-mobile-metadata: 8;
$font__size-mobile-small: 12;

// desktop
$font__size-desktop-h1: 50;
$font__size-desktop-h2: 38;
$font__size-desktop-h3: 28;
$font__size-desktop-h4: 21;
$font__size-desktop-h5: 21;
$font__size-desktop-eyebrow: 12;
$font__size-desktop-nav: 16;
$font__size-desktop-body: 16;
$font__size-desktop-btn: 14;
$font__size-desktop-metadata: 10;
$font__size-desktop-small: 12;

/**
 * Structure
 */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/**
 * Breakpoint
 */
$xsmall-devices: 576px; // 480px;
$phone-size: 768px;     // 768 +1 to fix iPad.
$tablet-size: 1024px;   // 1024px;
$desktop-size: 1200px;