body,
button,
input,
select,
textarea {
	font-family: "Montserrat",sans-serif;
}

#login {
	width: 420px;

	h1 {
		a {
			background-size: 38%;
			width: auto;
		}
	}

	#loginform {
		padding: 3rem 4rem 1rem 4rem;
		border: 0;
		box-shadow: none;
		
		label[for="user_pass"] {
			margin-top: 2rem;
			display: block;
		}
		
		.input {
			border: 0;
			border-bottom: 2px solid #000;
			box-shadow: none;
			background-color: transparent;
			border-radius: 0;
		}
		
		.forgetmenot {
			display: none;
		}
		.submit {
			margin-top: 30px;
			text-align: center;
			
			.button {
				padding: 0.625rem 2rem;
				background-color: #9dc02e;
				font-weight: 500;
				font-size: 1rem;
				border-radius: 50px;
				float: none;
				height: auto;
				border: 0;
				text-shadow: none;
				box-shadow: none;

				&:hover {
					box-shadow: rgba(0,0,0,0.156863) 0px 4px 24px 0px;
					text-decoration: none;
				}
			}
		}
	}

	#nav {
		margin: 0;
		padding: 0 0 3rem 0;
		background-color: #fff;
		text-align: center;
	}

	#backtoblog {
		display: none;
	}
}