.page-template-apparel {
    background-color: $color__background-body-2;

    .site-main {
        margin: 40px 0 40px 0;

        // 1024px
        @media (min-width: $tablet-size) {
            margin: 64px 0 64px 0;
        }
    }
    
    .entry-header {
        margin-bottom: 125px;
        
        h2 {
            margin-bottom: 8px;
            font-weight: 700;
            @include font-size($font__size-mobile-eyebrow/16);
            color: $color__neutrals_150;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-eyebrow/16);
            }
        }

        h1 {
            font-weight: 900;
            @include font-size($font__size-mobile-h2/16);
            color: $color__primary-blue-default;
            line-height: 100%;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h2/16);
            }
        }
    }

    .apparel {
        // 1024px
        @media (min-width: $tablet-size) {
            .row {
                margin-right: -42px;
                margin-left: -42px;
            }
            
            div[class^="col-"] {
                padding-right: 42px;
                padding-left: 42px;
            }
        }
        
        &__item {}
    }
}