.page-template-compare {

    .fixed-menu {
        ul {
            li {
                &.compare {
                    a {
                        background-color: $color__accent-red-default;
                        color: #fff;

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .site-main {
        margin: 0;
        padding-bottom: 64px;
        background: linear-gradient(271.63deg, #EDF1F2 97.53%, rgba(255, 255, 255, 0) 127.28%);
    }

    h1 {
        margin-bottom: 8px;
        font-weight: 900;
        @include font-size($font__size-mobile-h2/16);
        color: $color__primary-blue-default;
        
        // 1024
        @media (min-width: $tablet-size) {
            @include font-size($font__size-mobile-h2/16);
        }
    }

    h2,
    h3 {
        font-weight: 900;
        color: $color__text-grey;
    }

    h3 {
        @include font-size($font__size-mobile-h3/16);

        // 1024
        @media (min-width: $tablet-size) {
            @include font-size($font__size-desktop-h3/16);
        }
    }

    .compare-header {
        padding: 64px 40px;
        background-color: $color__background-body-2;

        /* // 1024
        @media (min-width: $tablet-size) {
            position: fixed;
            left: 0;
            top: 126px;
            z-index: 1;
            width: 100%;
        } */

        .excerpt {
            margin-bottom: 32px;

            p {
                color: $color__neutrals_200;
                @include font-size($font__size-mobile-small/16);

                // 1024
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-small/16);
                }
            }
        }
    }
    
    .compared-items {

        // selector
        .selector {
            
            // 768px
            @media (max-width: $phone-size) {
                margin-top: 32px;
                
                > ul {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    justify-content: space-between;
                    
                    > li {
                        flex: 0 0 48%;
                        max-width: 48%;
                    }
                }
            }
        }
            ul {
                li {
                    position: relative;
                    padding: 12px 14px;
                    background-color: #fff;
                    font-family: $font__secondary;
                    font-weight: 700;
                    @include font-size($font__size-desktop-nav/16);
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 2px;
                    text-transform: uppercase;
                    
                    // 1024px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-nav/16);
                    }

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                    
                    svg {
                        @include transition(0.3s);
                    }

                    &:hover {
                        svg {
                            transform: rotate(-180deg);
                        }

                        > ul {
                            display: block;
                        }
                    }

                    ul {
                        position: absolute;
                        left: 0;
                        z-index: 2;
                        padding: 16px 0;
                        background-color: #fff;
                        width: 100%;
                        height: 223px;
                        overflow: scroll;
                        display: none;

                        li {
                            padding: 0 16px;
                            box-shadow: none;

                            &:not(:last-child) {
                                margin-bottom: 8px;
                            }
                            
                            a {
                                font-family: $font__main;
                                font-weight: 400;
                                @include font-size($font__size-desktop-small/16);
                                color: $color__primary-blue-hover;
                                display: block;
                                line-height: 160%;
                                
                                &:hover {
                                    color: $color__secondary-blue-default;
                                }
                            }
                        }
                    }

                    &:nth-child(3) {
                        // 768px
                        @media (max-width: $phone-size) {
                            display: none;
                        }
                    }
                }
            }
        
        .compare-column {
            display: none;
            
            @for $i from 1 through 3 {
                &.order-#{$i}{
                    display: block;    
                }
            }

            // 768px
            @media (max-width: $phone-size) {
                flex: 0 0 50%;
                max-width: 50%;
                
                &.order-3 {
                    display: none;
                }
            }
        }
        
    }

    .compare-data {
        padding: 48px 0;

        // 1024px
        @media (min-width: $tablet-size) {
            // margin-top: 448px;
        }

        h3 {
            margin-bottom: 24px;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 64px;
            }
            
            .items {
                border-top: 2px solid #909394;
            }
                .item {
                    padding: 24px;

                    &.odd {
                        background-color: #fff;
                    }
                    
                    &.even {
                        background-color: $color__neutrals_050;
                    }

                    .specification {
                        font-weight: 700;
                        color: $color__primary-blue-default;

                        // 768px
                        @media (max-width: $phone-size) {
                            display: none;
                        }
                    }
                }
            
            .compare-column {
                display: none;
                
                @for $i from 1 through 3 {
                    &.order-#{$i}{
                        display: block;    
                    }
                }

                // 768px
                @media (max-width: $phone-size) {
                    text-align: center;

                    flex: 0 0 50%;
                    max-width: 50%;

                    &.order-3 {
                        display: none;
                    }
                }
            }
        }
    }
    
}