.page-template-contact-us {

    .container {
        padding-right: 12px;
        padding-left: 12px;

        // 1024px
        @media (min-width: $tablet-size) {
            max-width: 888px;
        }
    }

    .content-area {
        margin-bottom: 48px;

        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 56px;
        }

        // 1200px
        @media (min-width: $desktop-size) {
            margin-bottom: 64px;
        }
    }
    
    .hero {
        position: relative;
        margin-bottom: 60px;
        
        .hero-wrap {
            position: relative;
            background-position: 30% center;
            background-size: cover;

            &:before {
                position: absolute;
                left: -102px;
                top: 0;
                background: linear-gradient(90deg, #003145 8.99%, rgba(0, 49, 69, 0.509317) 35.66%, rgba(0, 49, 69, 0) 77.28%);
                width: 100%;
                height: 100%;
                content: "";
            }

            // 1024px
            @media (min-width: $tablet-size) {
                background-position: center center;

                &:before {
                    left: -371px;
                }

                -webkit-clip-path: polygon(0 0, 86% 0, 80% 100%, 0% 100%);
                clip-path: polygon(0 0, 86% 0, 80% 100%, 0% 100%);
            }
        }
        
        .product-thumbnail {
            position: relative;
            margin-top: -160px;
            z-index: 2;

            // 1024px
            @media (min-width: $tablet-size) {
                position: absolute;
                top: 14px;
                right: 6%;
                margin-top: 0;
            }
        }

        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 104px;
        }
    }

    h1 {
        margin: 0;
        padding: 68px 0 148px 0;
        font-weight: 900;
        @include font-size($font__size-mobile-h1/16);
        text-transform: uppercase;
        color: #fff;

        span {
            display: block;
        }
        
        // 1024
        @media (min-width: $tablet-size) {
            padding: 85px 0;
            @include font-size($font__size-desktop-h1/16);
        }
    }

    .contact-info {
        h2,
        h3 {
            text-transform: uppercase;
        }

        h2 {
            margin-top: 40px;
            margin-bottom: 12px;
            font-weight: 900;
            @include font-size($font__size-desktop-h4/16);
            color: $color__primary-blue-hover;
            line-height: 120%;
            
            // 1024px
            @media (min-width: $tablet-size) {
                margin-top: 0; 
            }
        }

        h3 {
            margin-top: 32px;
            margin-bottom: 8px;
            font-weight: 700;
            @include font-size($font__size-desktop-eyebrow/16);
            color: $color__secondary-blue-default;
            line-height: 14px;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {}
        }

        .address {
            p {
                color: $color__neutrals_200;
                line-height: 140%;
            }
        }

        .locations {
            p {
                @include font-size($font__size-desktop-small/16);
                color: $color__neutrals_225;
                line-height: 160%;
            }
        }
    }

    .form-wrap {

        // 1024px
        @media(min-width: $tablet-size) {}

        &__heading {
            margin-bottom: 0;
            
            p {
                font-family: $font__secondary;
                font-weight: 500;
                @include font-size($font__size-mobile-h5/16);
                color: $color__neutrals_175;

                // 1024px
                @media (min-width: $tablet-size) {
                    margin-bottom: 40px;
                    @include font-size($font__size-desktop-h5/16);
                }
            }
        }
        
    }

}