.page-template-dealer {
    background-color: #fff;

    .ui-autocomplete {
        padding: 16px;
        background-color: #fff;
        width: 380px !important;
        box-shadow: 0px 4px 10px rgba(0,0,0,.05);
        list-style: none;

        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    .dealer {
        &__filter {
            padding: 24px 8px;
            box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);

            // 768px
            @media (min-width: $phone-size) {
                padding: 24px;
            }
            
            p {
                &:not(:last-child) {
                    margin-bottom: 9px;

                    // 768px
                    @media (min-width: $phone-size) {
                        margin-bottom: 5px;
                    }
                }
            }

            header {
                margin-bottom: 14px;
            }
                h1 {
                    margin-bottom: 0;
                    font-weight: 900;
                    font-family: $font__secondary;
                    @include font-size($font__size-mobile-h3/16);
                    color: $color__primary-blue-default;

                    // 1024px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-h3/16);
                    }
                }
            
            input[type="text"] {
                padding: 0 8px 0 52px;
                background: url(images/search-icon.svg) no-repeat left center;
                width: 100%;
                font-weight: 500;
                font-family: $font__secondary;
                @include font-size($font__size-mobile-h5/16);
                border: 0;
                border-bottom: 1px solid transparent;

                // 1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-h5/16);
                }
                
                &::placeholder,
                &::-moz-placeholder,
                &::-webkit-input-placeholder,
                &:-ms-input-placeholder {
                    color: $color__neutrals_1;
                    opacity: 0.7;
                }
                
                &:focus {
                    outline: none;
                }
                
                &.error {
                    color: $color__accent-red-default;
                    border-bottom-color: $color__accent-red-default;
                    
                    &::placeholder,
                    &::-moz-placeholder,
                    &::-webkit-input-placeholder,
                    &:-ms-input-placeholder {
                        color: $color__accent-red-default;
                    }
                }
            }

            ul {
                margin-left: 40px;
                margin-bottom: 0;
                
                li {
                    color: $color__primary-blue-default;

                    // 768.98px
                    @media (min-width: $phone-size + 0.98) {
                        &:not(:last-child) {
                            margin-right: 32px;
                        }
                    }

                    // < 768px
                    @media (max-width: $phone-size) {
                        flex: 0 0 60%;
                        max-width: 60%;

                        &:nth-child(1),
                        &:nth-child(3) {
                            flex: 0 0 40%;
                            max-width: 40%;
                        }
                    }

                    span {
                        margin-left: 8px;
                    }
                }
            }

            .result-count {
                margin-top: 12px;
                display: none;

                p {
                    color: $color__secondary-blue-default;
                    @include font-size($font__size-mobile-body/16);
                    line-height: 140%;

                    // 768px
                    @media (min-width: $phone-size) {
                        @include font-size($font__size-desktop-body/16);
                    }
                }
            }
        }

        &__map {
            .dealers,
            .interactive-map {
                flex: 0 0 100%;
                max-width: 100%;
            }
            
            .dealers {
                margin-bottom: 64px;

                order: 2;
                height: 324px;
                overflow-x: scroll;
                
                // 768px
                @media (min-width: $phone-size) {
                    margin-bottom: 0;

                    order: 1;
                    flex: 0 0 404px;
                    max-width: 404px;

                    height: calc(100vh - 100px);
                }
                
                .location-list {}
            }
            .interactive-map {
                order: 1;

                // 768px
                @media (min-width: $phone-size) {
                    order: 2;

                    flex: 0 0 calc(100% - 404px);
                    max-width: calc(100% - 404px);
                }

                #map {
                    height: 429px;

                    // 768px
                    @media (min-width: $phone-size) {
                        height: calc(100vh - 100px);
                    }
                }
            }
            
            .location-list {
                .item {
                    /* cursor: pointer;
                    
                    &:hover {
                        background-color: #f7f7f7;
                    } */

                    * {
                        color: $color__neutrals_225;
                    }

                    padding: 24px;
                    border-bottom: 1px solid $color__primary-blue-disabled;
                    
                    // 768px
                    @media (min-width: $phone-size) {
                        padding: 40px 24px;
                    }

                    h2 {
                        margin-bottom: 8px;
                        font-weight: 900;
                        @include font-size($font__size-mobile-h4/16);
                        color: $color__primary-blue-default;
                        text-transform: uppercase;
    
                        // 1024px
                        @media (min-width: $tablet-size) {
                            @include font-size($font__size-desktop-h4/16);
                        }
                    }

                    h3,
                    p,
                    span {
                        @include font-size($font__size-mobile-small/16);
                        
                        // 1024px
                        @media (min-width: $tablet-size) {
                            @include font-size($font__size-desktop-body/16);
                        }
                    }
                    
                    .services {
                        margin-bottom: 16px;
                    }
                        .tags {
                            span {
                                padding: 5.5px 22px;
                                font-weight: 900;
                                text-transform: uppercase;
                                color: #fff;
                                line-height: 160%;
                                border-radius: 2px;
                                display: inline-block;

                                &:nth-child(1) {
                                    background-color: $color__primary-blue-default;
                                }

                                &:nth-child(2) {
                                    background-color: $color__secondary-blue-default;
                                }

                                &:not(:last-child) {
                                    margin-right: 8px;
                                }
                            }
                        }

                    .distance {
                        span {
                            font-weight: 900;
                            @include font-size($font__size-mobile-body/16);
                            text-transform: uppercase;
                            color: $color__neutrals_2;
                            
                            // 1024px
                            @media (min-width: $tablet-size) {
                                @include font-size($font__size-desktop-body/16);
                            }
                        }
                    }
    
                    .address {
                        margin-bottom: 23px;
                    }
    
                    .dealer-info {
                        span {
                            color: $color__neutrals_175;
                            text-transform: uppercase;
                        }
                    }
                    
                    .opening-hours {
                        margin-bottom: 40px;
                        
                        h3 {
                            margin-bottom: 0;
                            font-weight: 300;
                            font-family: $font__main;
                            color: $color__neutrals_175;
                            text-transform: uppercase;
                        }
                        p {}
                    }
    
                    .directions {
                        p {
                            margin-bottom: 0;

                            a {
                                font-weight: 700;
                                @include font-size($font__size-desktop-btn/16);
                                color: $color__secondary-blue-default;
                                text-transform: uppercase;
                                line-height: 18px;
                                letter-spacing: 0.1em;
                                
                                // 1024px
                                @media (min-width: $tablet-size) {
                                    @include font-size($font__size-desktop-btn/16);
                                    line-height: 21px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
    
}