.page-template-download {
    background-color: $color__background-body-2;
    
    .container {
        // 1023.98px
        @media (max-width: $tablet-size - 0.98) {
            padding-right: 16px;
            padding-left: 16px;
        }
    }
    
    .filter-inner {
        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 32px;
            border-bottom: 2px solid #909394; 
        }

        h2 {
            margin-bottom: 16px;
            font-weight: 900;
            @include font-size($font__size-desktop-h3/16);
            color: $color__text-grey;

            // 1024px
            @media (min-width: $tablet-size) {}

            // 1023.98px
            @media (max-width: $tablet-size - 0.98) {
                margin-bottom: 24px;
                padding-bottom: 16px;
                border-bottom: 2px solid #909394; 
            }
        }

        label {
            cursor: pointer;
        }
        
        ul {
            li {
                @include font-size($font__size-desktop-metadata/16);
                color: $color__primary-blue-default;
                line-height: 15px;
                letter-spacing: 0.1em;

                // 1024px
                @media (min-width: $tablet-size) {}
                
                &:not(:last-child) {
                    margin-right: 24px;
                }

                // 1023.02px
                @media (max-width: $tablet-size - 0.98) {
                    margin-bottom: 24px;

                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;

                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    .motorcycles {
        margin-bottom: 32px;
        
        // 768px
        @media (min-width: $phone-size) {
            margin-bottom: 56px;
        }

        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 64px;
        }

        &__filter {}
        &__items {
            
            .item {
                padding: 40px 16px;
                background-color: #fff;

                // 1024px
                @media (min-width: $tablet-size) {
                    padding: 22px 0;
                }

                &:not(:last-child) {
                    margin-bottom: 24px;

                    // 1024px
                    @media (min-width: $tablet-size) {
                        margin-bottom: 32px;
                    }
                }

                &:hover {
                    box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);
                }

                .product-thumbnail {
                    text-align: center;

                    img {
                        object-fit: contain;
                        max-height: 240px;
                    }
                }

                .product-details {
                    margin-bottom: 24px;

                    // 1024px
                    @media (min-width: $tablet-size) {
                        margin-bottom: 0;
                    }
                }
                    h3 {
                        margin-bottom: 8px;
                        font-family: $font__secondary;
                        font-weight: 900;
                        @include font-size($font__size-mobile-h3/16);
                        color: $color__primary-blue-default;
                        line-height: 100%;

                        // 1024.98px
                        @media (min-width: $tablet-size + 0.98) {
                            @include font-size($font__size-desktop-h3/16);
                        }
                    }

                    .excerpt {
                        margin-bottom: 25px;

                        // 768px
                        @media (min-width: $phone-size) {
                            margin-bottom: 30px;
                        }
                        
                        // 1024px
                        @media (min-width: $tablet-size) {
                            margin-bottom: 58px;
                        }

                        p {
                            @include font-size($font__size-mobile-body/16);
                            color: $color__neutrals_200;
                            line-height: 140%;

                            // 1024px
                            @media (min-width: $tablet-size) {
                                @include font-size($font__size-desktop-body/16);
                            }
                            
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .brochure-download,
                    .model-review {
                        
                        .icon {
                            height: 39px;
                        }

                    }

                        a {
                            font-weight: 700;
                            @include font-size($font__size-mobile-btn/16);
                            color: $color__neutrals_225;
                            line-height: 21px;
                            letter-spacing: 0.1em;

                            // 1024px
                            @media (min-width: $tablet-size) {
                                @include font-size($font__size-desktop-btn/16);
                            }
                        }
            }

        }
    }

    .wallpaper {
        margin-bottom: 0;

        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 16px;
        }
        
        &__filter {
            .filter-inner {
                ul {
                    li {
                        // 1023.02px
                        @media (max-width: $tablet-size - 0.98) {
                            margin-bottom: 24px;

                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 50%;
                            flex: 0 0 50%;
                            max-width: 50%;
                            
                            &:not(:last-child) {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }

        &__items {

            .item {
                margin-bottom: 32px;

                .wallpaper-thumbnail {
                    img {
                        object-fit: cover;
                        width: 100%;

                        // 1024px
                        @media (min-width: $tablet-size) {
                            height: 238px;
                        }
                    }
                }

                .icon {
                    height: 16px;
                }

                .download-btn {}
                    a {
                        font-weight: 700;
                        @include font-size($font__size-mobile-btn/16);
                        color: $color__secondary-blue-default;
                        line-height: 21px;
                        letter-spacing: 0.1em;
                        
                        // 1024px
                        @media (min-width: $tablet-size) {
                            @include font-size($font__size-desktop-btn/16);
                        }
                    }
            }

        }
    }

    .jingles {
        margin-bottom: 16px;

        &__filter {}
        &__items {

            .item {
                margin-bottom: 32px;

                &__inner {
                    margin-bottom: 24px;
                    background-color: #fff;
                    
                    .audio-details {
                        position: relative;

                        // 1023.02px
                        @media (max-width: $tablet-size - 0.98) {
                            background-color: $color__primary-blue-default;
                            background-image: url(images/jingle-mobile-audio-wave-bg.svg);
                            background-repeat: repeat-x;
                            background-position: bottom;
                        }

                        .duration {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }
                    .controls {
                        margin-right: 16px;

                        // 1024px
                        @media (min-width: $tablet-size) {
                            margin-right: 48px;    
                        }

                        a {
                            background-color: #003b70;
                            min-height: 50px;
                            min-width: 50px;
                            
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            // 1024px
                            @media (min-width: $tablet-size) {
                                min-height: 98px;
                                min-width: 97.55px;
                            }
                        }
                        
                        .play-btn {
                            background-color: $color__primary-blue-hover;
                            
                            // 1024px
                            @media (max-width: $tablet-size - 0.98) {
                                svg {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }

                        .pause-btn {
                            background-color: $color__secondary-blue-hover;

                            // 1024px
                            @media (max-width: $tablet-size - 0.98) {
                                svg {
                                    width: 11px;
                                    height: 18px;
                                }
                            }
                        }
                    }

                    .term,
                    h3 {
                        font-family: $font__secondary;
                    }

                    .term {
                        font-weight: 400;
                        @include font-size($font__size-mobile-eyebrow/16);
                        line-height: 14px;
                        letter-spacing: 0.1em;
                        color: $color__neutrals_150;
                        
                        // 1024px
                        @media (min-width: $tablet-size) {
                            @include font-size($font__size-desktop-eyebrow/16);
                        }
                    }
                    h3 {
                        margin-top: 4px;
                        margin-bottom: 0;
                        font-family: $font__main;
                        font-weight: 700;
                        @include font-size($font__size-mobile-body/16);
                        color: #fff;
                        line-height: 160%;
                        
                        // 1024px
                        @media (min-width: $tablet-size) {
                            margin-top: 0;
                            font-family: $font__secondary;
                            font-weight: 800;
                            @include font-size($font__size-desktop-h4/16);
                            color: $color__primary-blue-default;
                            line-height: 120%;
                        }
                    }

                    .audio-meta {
                        background-color: $color__primary-blue-default;
                        text-align: right;
                    }
                        .duration {
                            padding: 4px 10px;
                            font-weight: 700;
                            background-color: $color__accent-red-default;
                            @include font-size($font__size-mobile-small/16);
                            color: #fff;
                            line-height: 160%;
                            display: inline-block;

                            // 1024px
                            @media (min-width: $tablet-size) {
                                @include font-size($font__size-desktop-small/16);
                            }
                        }
                        .sound-wave {
                            overflow: hidden;
                            
                            /* svg {
                                margin: 0 auto;
                            } */

                            background-image: url('images/audio-wave.svg');
                            background-position: 0% 100%;
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 73px;
                            @include transition(3s);

                            &.active {
                                background-position: 100% 100%;
                            }
                        }
                    
                    .download-btn {
                        .icon {
                            height: 17px;
                        }
                    }
                        a {
                            font-weight: 700;
                            @include font-size($font__size-mobile-btn/16);
                            color: $color__secondary-blue-default;
                            line-height: 21px;
                            letter-spacing: 0.1em;
                            
                            // 1024px
                            @media (min-width: $tablet-size) {
                                @include font-size($font__size-desktop-btn/16);
                            }
                        }
            }

        }
    }

}