.page-template-event {
    background-color: #F7F7F7;

    .site-main {
        //992px
        @media (min-width: $tablet-size) {
            margin-bottom: 39px;
        }
    }

    .detail {

        * {
            color: #fff;
        }
        
        .date {
            .month {
                font-weight: 700;
                @include font-size(12/16);
                text-transform: uppercase;
            }
            .day {
                font-family: $font__secondary;
            }
        }

        .news-label,
        .loading {
            margin-bottom: 8px;
        }
        
        h3 {
            margin-bottom: 8px;
        }

        .excerpt {
            p {
                @include font-size($font__size-mobile-small/16);
            }
        }

    } // detail

    .current-events {
        position: relative;
        margin-bottom: 48px;
        
        &__items-wrap {}
            &__items {
                &:after {
                    background: transparent;
                    height: auto;
                }
            }
                &__item {
                    position: relative;

                    &:after {
                        z-index: 9;
                        position: absolute;
                        bottom: 0;
                        background: linear-gradient(180deg, #003145 6.37%, rgba(0, 49, 69, 0) 74.84%);
                        height: 492px;
                        width: 100%;
                        transform: rotate(180deg);
                        display: block;
                        mix-blend-mode: multiply;
                        content: "";
                    }

                    figure {
                        position: absolute;
                        z-index: 9;
                        width: 100%;
                        height: 594px;

                        img {
                            width: 100%;
                            height: 594px;
                            object-fit: cover;
                        }
                    }
                    
                    .detail-wrap {
                        z-index: 99;
                        position: relative;
                        left: 0;
                        bottom: 0;

                        > .row {
                            height: 594px;
                        }
                        
                        .detail {
                            position: relative;
                            bottom: 7rem;       // backup bottom spacing
                            padding: 0 16px;

                            // 1024px
                            @media (min-width: $tablet-size) {
                                padding-left: 48px;
                            }
                        }
                    }
                        .date {
                            margin-right: 16px;
                            line-height: 1;
                            
                            .month {}
                            .day {
                                font-weight: 900;
                                @include font-size($font__size-mobile-h1/16);
                                
                                //992px
                                @media (min-width: $tablet-size) {
                                    @include font-size($font__size-desktop-h1/16);
                                }
                            }
                        }

                        .news-label {
                            font-weight: 700;
                            @include font-size($font__size-mobile-eyebrow/16);
                            color: $color__accent-yellow-b;
                            text-transform: uppercase;
                            
                            //992px
                            @media (min-width: $tablet-size) {
                                @include font-size($font__size-desktop-eyebrow/16);
                            }
                        }
                        
                        h3 {
                            font-weight: 900;
                            @include font-size($font__size-mobile-h2/16);
                
                            //992px
                            @media (min-width: $tablet-size) {
                                @include font-size($font__size-desktop-h2/16);
                            }
                        }
                
                        .excerpt {
                            p {}
                        }
                
                        .cta {
                            a {}
                        }
                }
        
        &__nav-wrap {
            z-index: 2;
            position: absolute;
            bottom: 0;
            padding: 0 0 48px 16px;
            width: 100%;
                            
            // 1024px
            @media (min-width: $tablet-size) {
                padding: 0 0 48px 48px;
            }
        }
            &__nav {
                &:after {
                    z-index: initial;
                    position: initial;
                    background: transparent;
                    height: auto;
                }

                .slick-track {
                    margin-left: inherit;
                    margin-right: inherit;

                    // flexible display
                    display: -ms-flexbox;
                    display: flex;
                    flex-wrap: nowrap;

                    // 1024px
                    @media (min-width: $tablet-size) {
                        // overwrite default
                        -webkit-transform: translate3d(0, 0, 0) !important;
                        -moz-transform: translate3d(0, 0, 0) !important;
                        -ms-transform: translate3d(0, 0, 0) !important;
                        -o-transform: translate3d(0, 0, 0) !important;
                        transform: translate3d(0, 0, 0) !important;
                    }
                }

                &__item {
                    margin-right: 16px;
                    opacity: 0.3;

                    // width
                    max-width: 208px !important;
                    flex: 0 0 208px !important;

                    &:focus {
                        outline: none;
                    }

                    // flex: 0 0 207px;
                    // max-width: 207px;

                    &.slick-current {
                        opacity: 1;

                        .loading {
                            &:after {
                                background-color: $color__accent-red-default;
                                width: 100%;
                            }
                        }
                    }
                    
                    .loading {
                        position: relative;
                        background-color: #fff;
                        width: 100%;
                        height: 4px;
                        
                        &:after {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: transparent;
                            width: 0;
                            height: 4px;
                            content: "";

                            // transition
                            @include transition(3.5s, width, linear);
                        }
                    }
                    
                    .date {
                        margin-right: 16px;
                        line-height: 1;
                        
                        .month {
                            font-weight: 700;
                            @include font-size(12/16);
                            text-transform: uppercase;
                        }
                        .day {
                            font-weight: 500;
                            @include font-size(36/16);
            
                            //992px
                            @media (min-width: $tablet-size) {
                                @include font-size(36/16);
                            }
                        }
                    }

                    h3 {
                        font-weight: 700;
                        @include font-size($font__size-mobile-eyebrow/16);
                        text-transform: uppercase;
                        
                        //992px
                        @media (min-width: $tablet-size) {
                            @include font-size($font__size-desktop-eyebrow/16);
                        }
                    }
                }
            }
    }

    .past-events {

        .heading {
            margin-bottom: 40px
        }
            h2 {
                font-weight: 900;
                @include font-size($font__size-mobile-h4/16);
                color: $color__primary-blue-default;
                text-transform: uppercase;

                //992px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-h4/16);
                }
            }

        &__item {
            margin-bottom: 33px;

            // transition
            @include transition(0.3s);

            &:hover {
                padding: 16px;
                background-color: #fff;
                box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);

                .cta {
                    opacity: 1;
                }
            }

            figure {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .date {
                margin-bottom: 13px;
                font-weight: 700;
                @include font-size($font__size-mobile-eyebrow/16);
                color: #A7A7A7;
                text-transform: uppercase;
                
                //992px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-eyebrow/16);
                }
            }

            h3 {
                margin-bottom: 18px;
                font-weight: 900;
                @include font-size($font__size-mobile-h4/16);
                color: $color__primary-blue-default;
                
                //992px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-h4/16);
                }
            }

            .excerpt {
                p {
                    @include font-size($font__size-mobile-body/16);
                    color: #333;

                    //992px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-body/16);
                    }
                }
            }

            .cta {
                opacity: 1;

                // 1024.98px
                @media (min-width: $tablet-size + 0.98) {
                    opacity: 0;
                }

                span {
                    font-weight: 700;
                    @include font-size($font__size-mobile-btn/16);
                    color: $color__secondary-blue-default;
                    text-transform: uppercase;

                    //992px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-btn/16);
                    }
                }
            }

        }
    }

}