/**
 * Full content
 */
.full-content {
    strong {
        font-weight: 700;
    }
}

/**
 *  Heading
 */
.flex-heading {
    margin-bottom: 58px;
    
    h2 {
        margin-bottom: 0;
        font-weight: 900;
        @include font-size($font__size-desktop-h4/16);
        color: $color__accent-red-default;

        // 1024px
        @media (min-width: $tablet-size) {
            @include font-size($font__size-desktop-h4/16);
        }
    }
}

/**
 *  Gallery
 */
.flex-gallery {
    position: relative;
    margin: 32px 0 63px 0;

    // 1024px
    @media (min-width: $tablet-size) {
        margin: 47px 0 83px 0;
    }

    &__items {
        position: relative;
    }
        &__item {
            
            img {
                width: 100%;
            }

        }
    
    &__meta {
        z-index: 99;
        position: absolute;
        bottom: 48px;
        right: 48px;

        .count {
            padding: 12px 26px;
            background-color: $color__secondary-blue-default;
            font-family: $font__secondary;
            font-weight: 500;
            @include font-size($font__size-mobile-h5/16);
            
            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h5/16);
            }

            span {
                margin-right: 12px;
                color: #fff;
            }
        }
    }

}

/**
 * Set the trend
 */
.set-the-trend {

    // 1024px
    @media (min-width: $tablet-size) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 86.6%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 86.6%, 0% 100%);
    }

    &.image {
        width: 100%;
        text-align: center;

        .promo-lg-image {
            background-size: cover;
            width: 100%;
            height: 669px;
            content: "";
        }
    }

    &.interactive {
        position: relative;
        background-color: $color__background-body-2;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 360px;
        
        // 1024px
        @media (min-width: $tablet-size) {
            background-size: 380px;

            &:after {
                position: absolute;
                right: 0;
                top: 0;
                background-size: 340px;
                background-position: right center;
                background-repeat: no-repeat;
                width: 50%;
                height: 100%;
                content: "";
            }
        }

        // 1200px
        @media (min-width: $desktop-size) {
            max-height: 669px;

            &:after {
                background-size: auto;
            }
        }

        // 1024 and 1160px
        @media (min-width: $tablet-size) and (max-width: $tablet-size + 136) {
            background-size: 300px;
        }
        
        // 1200px and 1440px
        @media (min-width: $desktop-size) and (max-width: $desktop-size + 240) {
            background-size: 380px;
        }
        
        .content {
            padding: 98px 0 16px 0;

            // 1024px
            @media (min-width: $tablet-size) {            
                padding: 128px 0 64px 0;
            }
            
            // 1200px
            @media (min-width: $desktop-size) {
                padding: 108px 0;
            }

            figure {}
                img {
                    width: 80%;

                    // 768px
                    @media (min-width: $phone-size) {
                        width: auto;
                    }
                }
        }
            h3 {
                margin: 16px 0 8px 0;
                font-weight: 900;
                @include font-size($font__size-mobile-h4/16);
                color: $color__primary-blue-default;
                
                // 1024px
                @media (min-width: $tablet-size) {
                    margin: 26px 0 16px 0;
                    @include font-size($font__size-desktop-h4/16);
                }
            }
            
            .excerpt {
                p {
                    font-weight: 300;
                    @include font-size($font__size-mobile-body/16);
                    color: $color__primary-blue-default;
                    
                    // 1024px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-body/16);
                    }
                }
            }

            .product-thumbnail {}
    }
}

/**
 * Content product grid
 */
.grid-item {
    background-color: #fff;
    border-radius: 5px;

    figure {
        background: url(images/product-shadow.png);
        background-repeat: no-repeat;
        background-position: 42% 116%;
        background-blend-mode: multiply;

        img {
            object-fit: contain;
            width: auto;
            
            // 768px
            @media (min-width: $phone-size) {
                height: 222px;
            }
        }
    }

    h3 {
        margin-bottom: 4px;
        font-weight: 900;
        @include font-size($font__size-mobile-h4/16);
        color: $color__primary-blue-default;

        // 768px
        @media (min-width: $phone-size) {
            @include font-size($font__size-desktop-h4/16);
        }
    }

    .price {
        margin-bottom: 19px;

        .amount {
            font-weight: 700;
            @include font-size($font__size-mobile-body/16);
            color: $color__accent-red-default;

            // 768px
            @media (min-width: $phone-size) {
                @include font-size($font__size-desktop-body/16);
            }
        }
    }

    .content {
        padding: 0 28px 28px 28px;
    }
        .excerpt {
            margin-bottom: 46px;

            p {
                font-weight: 300;
                @include font-size($font__size-mobile-body/16);
                color: $color__primary-blue-default;
                line-height: 140%;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        
        .cta {
            font-weight: 700;
            @include font-size($font__size-desktop-btn/16);
            color: $color__secondary-blue-default;
            text-transform: uppercase;
            line-height: 21px;
            letter-spacing: 0.1em;
            
            // 1024px
            @media (min-width: $tablet-size) {
                // hide by default
                opacity: 0;
            }
        }

    &:hover {
        box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);

        .cta {
            opacity: 1;
        }
    }
}


/**
 * Cards
 */

// product card
.product-card {
    margin-bottom: 89px;
    padding: 40px 36px;
    background-color: #fff;
    border-radius: 5px;
    
    // transition
    @include transition(0.3s);
    
    // 1024px
    @media (min-width: $tablet-size) {
        margin-bottom: 97px;
        padding: 25px 49px;
    }

    &:hover {
        margin-top: -8px;
        box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);

        .cta {
            opacity: 1;
        }
    }

    figure {
        margin-top: -90px;
        margin-bottom: 24px;

        img {
            object-fit: cover;
            width: 160px;
            height: 160px;
            mix-blend-mode: darken;
        }
    }

    h2 {
        margin-bottom: 4px;
        font-weight: 900;
        @include font-size($font__size-desktop-h4/16);
        color: $color__primary-blue-default;

        // 1024px
        @media (min-width: $tablet-size) {}
    }

    .price {
        margin-bottom: 19px;

        &__amount {
            font-weight: 700;
            @include font-size($font__size-mobile-body/16);
            color: $color__accent-red-default;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-body/16);
            }
        }
    }

    .excerpt {
        margin-bottom: 24px;

        p {
            @include font-size($font__size-mobile-body/16);
            color: $color__primary-blue-default;
            line-height: 140%;

            &:last-child {
                margin-bottom: 0;
            }

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-body/16);
            }
        }
    }

    .cta {
        opacity: 1;

        // 1024.98px
        @media (min-width: $tablet-size + 0.98) {
            opacity: 0;
        }

        a {
            font-weight: 700;
            @include font-size($font__size-mobile-btn/16);
            color: $color__secondary-blue-default;
            text-transform: uppercase;
            line-height: 21px;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-btn/16);
            }
        }
    }
}

// news card
.news-card {
    background-color: #fff;
    border-radius: 5px;

    &:hover {
        box-shadow: $shadow__state-hover;

        .cta {
            opacity: 1;
        }
    }

    figure {
        img {
            object-fit: cover;
            width: 100%;
            
            // 768px
            @media (min-width: $phone-size) {
                height: 265px;
            }
        }
    }

    .content {
        position: relative;
        padding: 24px 26px;

        // 1024px
        @media (min-width: $tablet-size) {
            padding: 24px 32px;
        }
    }
        .date {
            margin-bottom: 9.32px;
            font-family: $font__secondary;
            font-weight: 700;
            @include font-size($font__size-desktop-eyebrow/16);
            color: $color__neutrals_125;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            
            // 1024px
            @media (min-width: $tablet-size) {
                margin-bottom: 8.38px;
                @include font-size($font__size-desktop-eyebrow/16);
            }
            
            // 1024.98px
            @media (min-width: $tablet-size + 0.98) {
                margin-bottom: 9.32px;
            }
        }

        h2,
        h3 {
            margin: 0;
            font-weight: 500;
            @include font-size($font__size-mobile-h5/16);
            color: $color__primary-blue-default;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h5/16);
            }
        }

        .cta {
            margin-top: 28px;
            letter-spacing: 0.1em;
            opacity: 1;

            // 1024px
            @media (min-width: $tablet-size) {
                text-align: center;
                opacity: 1;
            }

            // 1024.98px
            @media (min-width: $tablet-size + 0.98) {
                opacity: 0;
            }
            
            span {
                font-weight: 700;
                @include font-size($font__size-desktop-btn/16);
                color: $color__secondary-blue-default;
                text-transform: uppercase;
                
                // 1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-btn/16);
                }
            }
        }
}

// promo card
.promo-card {
    margin-bottom: 19px;
    background-color: #fff;
    border-radius: 5px;

    //1024px
    @media (min-width: $tablet-size) {
        margin-bottom: 32px;
    }
    
    &:hover {
        box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);
    }

    .content {
        padding: 24px 36px 32px 36px;
    }
        figure {
            img {
                width: 100%;
            }
        }

        .promo-period {
            @extend %_promo_period;
        }
        
        h2 {
            margin-bottom: 32px;
            @include font-size($font__size-mobile-h5/16);
            color: $color__primary-blue-default;
            line-height: 19px;
            
            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h5/16);
                line-height: 120%;
            }
        }
        
        .cta {
            font-weight: 700;
            @include font-size($font__size-desktop-btn/16);
            color: $color__secondary-blue-default;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {}
        }
}

// video-card
.video-card {
    position: relative;
    background-color: #fff;
    border-radius: 5px;

    &:hover {
        box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);

        .thumbnail {
            &:after {
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(179.89deg, #003145 0.14%, rgba(0, 49, 69, 0) 74.77%);
                width: 100%;
                height: 100%;
                content: "";
                transform: rotate(180deg);
            }

            .play-icon {
                display: block;
            }

            .duration {
                z-index: 2;
            }
        }
    }
    
    .thumbnail {
        position: relative;

        img {
            width: 100%;
        }

        .play-icon {
            z-index: 3;
            position: absolute;
            top: calc(70% - 88px);
            left: calc(60% - 88px);
            
            // hide
            display: none;

            // transition
            @include transition(0.2s);
        }
        
        .duration {
            position: absolute;
            right: 24px;
            bottom: 24px;

            padding: 4px 10px;
            background-color: $color__accent-red-default;

            .time {
                margin-right: 6px;
                @include font-size($font__size-mobile-small/16);
                color: #fff;
            }
        }
    }
    
    .content {
        padding: 24px 16px;

        // 1024px
        @media (min-width: $tablet-size) {
            padding: 24px;
        }

        .date {
            margin-bottom: 10px;
            font-weight: 700;
            @include font-size($font__size-mobile-eyebrow/16);
            color: $color__neutrals_125;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-eyebrow/16);
            }
        }

        h3 {
            font-weight: 500;
            @include font-size($font__size-mobile-h5/16);
            color: $color__primary-blue-default;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h5/16);
            }
        }
    }
}

// compare-card
.compare-card {
    img {
        object-fit: contain;
        height: 153.03px;
    }

    h2 {
        margin-bottom: 14px;
        font-weight: 900;
        @include font-size($font__size-mobile-h4/16);
        color: $color__text-grey;

        // 1024px
        @media (min-width: $tablet-size) {
            @include font-size($font__size-desktop-h4/16);
        }
    }

    .price,
    .cta {
        font-family: $font__main;
        @include font-size($font__size-desktop-btn/16);
        text-transform: uppercase;
    }

    .price {
        position: relative;
        margin-right: 14px;
        padding-right: 14px;
        font-weight: 500;
        color: $color__neutrals_225;

        // 1024px
        @media (min-width: $tablet-size) {
            margin-right: 16px;
            padding-right: 16px;
        }
        
        &:after {
            position: absolute;
            right: 0;
            top: 0px;
            background-color: $color__neutrals_125;
            width: 1px;
            height: 20px;
            content: "";
        }
        
        .amount {}
            .currency {
                margin-right: 3px;
            }
    }

    .cta {
        font-weight: 700;
        
        a {
            color: $color__secondary-blue-default;
            text-decoration: none;
            line-height: 21px;
            letter-spacing: 0.1em;
        }
    }
}

/**
 * Specifications
 */
.specifications {

    &__item {
        padding: 9px 0;
        @include font-size($font__size-desktop-eyebrow/16);
        text-transform: uppercase;
        border-bottom: 1px solid #C4C4C4;

        .label {
            color: $color__neutrals_125;
        }
        
        .value {
            font-family: $font__secondary;
            font-weight: 700;
            color: $color__primary-blue-default;
            text-align: right;
        }
    }

}

/**
 * Related posts
 */
.related-posts {

    .heading {
        margin-bottom: 32px;
    }
        h2 {
            font-weight: 900;
            @include font-size($font__size-mobile-h4/16);
            color: $color__primary-blue-default;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h4/16);
            }
        }
    
    &__item {
        margin-bottom: 16px;

        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 0;
        }

        .cta {
            opacity: 1;
        }
    }

}