.site-footer {
	p {
		margin-bottom: 0;
		color: #e0e0e0;
	}
	
	a {
		@include font-size(20/16);
		color: #fff;	
	}

	.widget {
		margin-bottom: 0;
	}

	&__top {
		padding: 47px 0;
		background-color: #003b70;

		.widget-title {
			font-weight: 700;
			text-transform: uppercase;
			@include font-size($font__size-desktop-eyebrow/16);
			color: #fff;
		}

		.company-info {
			margin-bottom: 52px;

			// 992
			@media (min-width: $tablet-size) {
				margin-bottom: 0;
			}

			img {
				margin-bottom: 19px;
			}

			p {
				@include font-size(12/16);
			}
		}

		.suzuki-menu {
			margin-bottom: 52px;

			// 992
			@media (min-width: $tablet-size) {
				margin-bottom: 0;
			}

			ul {
				display: -ms-flexbox;
				display: flex;
				flex-wrap: wrap;
				
				a {
					text-transform: uppercase;
					@include font-size(10/16);
					color: #fff;
					letter-spacing: 0.1em;
				}

				li {
					margin-bottom: 8px;

					flex: 0 0 50%;
					max-width: 50%;
				}
			}
		}

		.suzuki-hotline {
			margin-bottom: 52px;
			
			// 992
			@media (min-width: $tablet-size) {
				margin-bottom: 0;
			}

			img {}
		}

		.suzuki-connect {
			ul {
				li {
					&:not(:last-child) {
						margin-right: 24px;
					}
				}
			}
		}
	}
	
	&__bottom {
		padding: 21px 0;
		background-color: #003144;

		* {
			text-transform: uppercase;
		}
		
		a {
			@include font-size(10/16);
		}

		.footer-menu {
			margin-bottom: 24px;
			
			// 992px
			@media (min-width: $tablet-size) {
				margin-bottom: 0;
			}
			
			li {
				&:not(:last-child) {
					margin-right: 24px;
				}

				a {
					@include font-size($font__size-mobile-body/16);
					text-transform: initial;
					letter-spacing: 0.1em;

					// 992px
					@media (min-width: $tablet-size) {
						@include font-size(10/16);
						text-transform: uppercase;
					}
				}
			}
		}

		.copyright {
			@include font-size(10/16);
			letter-spacing: 0.1em;

			span {
				display: block;

				// 992px
				@media (min-width: $tablet-size) {
					display: inline;
				}
			}
		}

	}
}