/**
 * Front page
 */

.home {

	.hero {
		z-index: 4;
		position: relative;

		&__items {
			max-height: 512px;

			&:after {
				background: transparent;
				height: auto;
			}
			
			.slick-arrow {
				// 1024px
				@media (min-width: $tablet-size) {
					top: 38%;
				}

				// 1200
				@media (min-width: $desktop-size) {
					top: 48%;
				}

				&.slick-prev {
					background: url(images/slider-arrow-left-blue-icon.svg) no-repeat left center;
				}
				
				&.slick-next {
					background: url(images/slider-arrow-right-blue-icon.svg) no-repeat right center;
				}
			}
		}
			&__item {
				position: relative;
				height: 640px;

				&:focus {
					outline: none;
				}

				> .container {
					position: relative;
				}

				.row {
					.row {
						flex-direction: column-reverse;

						// 1024px
						@media (min-width: $tablet-size) {
							flex-direction: initial;
						}
					}
				}

				// opacity - behind text
				.opacity-text {
					z-index: 1;
					position: absolute;
					left: 0;
					top: 60px;
					right: 0;

					font-family: $font__secondary;
					font-weight: 900;
					font-style: italic;
					color: $color__primary-blue-default;
					letter-spacing: -0.01em;
					text-transform: uppercase;
					text-align: center;
					line-height: 0.8;
					mix-blend-mode: normal;
					opacity: 0.07;
					border: 0.621502px solid #FFFFFF;
					transform: rotate(-5deg);

					// 1024px
					@media (min-width: $tablet-size) {
						padding: 0 64px;
						text-align: left;
					}

					.heading {
						@include font-size(42/16);

						// 1024px
						@media (min-width: $tablet-size) {
							margin-bottom: 6px;
							padding: 0 40px;
							@include font-size(72/16);
						}
					}
					
					.sub-heading {
						@include font-size(74/16);
						
						// 768px
						@media (min-width: $phone-size) {
							@include font-size(126/16);
						}
						
						// 1024px
						@media (min-width: $tablet-size) {
							left: 0;
							top: 70px;
							@include font-size(186/16);
							text-align: center;
						}
						
						// 1200px
						@media (min-width: $desktop-size) {
							top: 100px;
							right: -220px;
						}
					}
				}

				.content {
					z-index: 9;
					position: relative;
					padding: 0 32px;
					
					// 1024px
					@media (min-width: $tablet-size) {
						padding: 0;
					}

					h3 {
						margin-top: 10px;
						margin-bottom: 8px;
						@include font-size($font__size-desktop-eyebrow/16);
						color: $color__primary-blue-default;
						line-height: 14px;
						text-transform: uppercase;
						letter-spacing: 0.1em;

						// 1024px
						@media (min-width: $tablet-size) {}
					}

					figure {
						margin-bottom: 16px;
					}

					.excerpt {
						margin-bottom: 32px;

						p {
							margin-bottom: 0;
							@include font-size($font__size-desktop-body/16);
							color: #575757;

							// 1024
							@media (min-width: $tablet-size) {
								@include font-size(12/16);
							}
						}
					}

					.cta {
						a {
							font-weight: 700;
							@include font-size(14/16);
							letter-spacing: 0.1em;
						}
					}
				}

				.product-thumbnail {
					z-index: 1;
					position: relative;
					margin-top: 60px;

					// 1024px
					@media (min-width: $tablet-size) {
						top: 44px;
						float: right;
						margin-top: 0;
					}

					// 1200px
					@media (min-width: $desktop-size) {
						top: 70px;
						float: none;
					}

					img {
						width: 258px;

						// 768px
						@media (min-width: $phone-size) {
							width: 380px;
						}

						// 1024px
						@media (min-width: $tablet-size) {
							width: 410px;
						}
						
						// 1200px
						@media (min-width: $desktop-size) {
							width: auto;
						}
					}
				}
			}
	}
	
	.motors {
		z-index: 3;
		position: relative;
		margin-top: 80px;
		padding-top: 80px;
		background: url(images/motors-bg.svg) no-repeat top center;
		
		// 768px
		@media (min-width: $phone-size) {
			margin-top: 140px;
			padding-top: 120px;
		}
		
		// 1024px
		@media (min-width: $tablet-size) {
			margin-top: -194px;
			padding-top: 200px;
			background-size: cover;
		}

		// 1200px
		@media (min-width: $desktop-size) {
			margin-top: -120px;
    		padding-top: 300px;
		}
		
		h3 {
			margin-bottom: 8px;
			font-weight: 700;
			@include font-size($font__size-mobile-eyebrow/16);
			line-height: 14px;
			text-transform: uppercase;
			line-height: 14px;
			letter-spacing: 0.1em;
			
			// 1024px
			@media (min-width: $tablet-size) {
				@include font-size($font__size-desktop-eyebrow/16);
			}
		}

		h2 {
			font-weight: 900;
			@include font-size($font__size-mobile-h2/16);
			color: $color__primary-blue-default;
			text-transform: uppercase;
			line-height: 28px;

			// 1024px
			@media (min-width: $tablet-size) {
				@include font-size($font__size-desktop-h2/16);
				line-height: 100%;
			}

			span {
				display: block;
				
				// 1024px
				@media (min-width: $tablet-size) {
					display: inline;
				}
			}
		}

		&__item {

			.item {
				position: relative;
				margin-top: 80px;
				background-color: #C7C7C7;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 480px;

				-webkit-clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
				clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);

				&:before {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;

					content: "";
				}

				// 1024.98px
				@media (min-width: $tablet-size + 0.98) {}
			}
				header {
					z-index: 2;
					position: relative;
					padding-top: 66px;

					// 1024.98px
					@media (min-width: $tablet-size) {
						padding-top: 96px;
					}
				}
					h3 {
						margin-bottom: 8px;
						font-weight: 900;
						@include font-size($font__size-mobile-h4/16);
						color: #fff;
						text-transform: uppercase;
						line-height: 21px;
						letter-spacing: 0;

						// 1024px
						@media (min-width: $tablet-size) {
							@include font-size(17.78/16);
						}

						// 1200px
						@media (min-width: $desktop-size) {
							@include font-size($font__size-desktop-h4/16);
						}
						
						span {
							margin-bottom: 6px;
							font-weight: 700;
							@include font-size($font__size-mobile-eyebrow/16);
							line-height: 12px;
							letter-spacing: 0.1em;
							
							// 1024px
							@media (min-width: $tablet-size) {
								margin-bottom: 4px;
								@include font-size($font__size-desktop-eyebrow/16);
							}
						}
					}
				
				.item--2,
				.item--3 {
					// 1024px
					@media (min-width: $tablet-size) {
						margin: 0 -36px;
						padding: 0 18px 0 28px;
					}
					
					// 1200px
					@media (min-width: $desktop-size) {
						margin: 0 -56px;
						padding: 0 32px 0 48px;
					}
				}

				.item--1 {
					position: relative;
					margin-top: 30px;
					background-position: 62% center;

					// 1024px
					@media (min-width: $tablet-size) {
						margin-top: 93px;
						margin-right: -18px;
					}

					// 1024px
					@media (min-width: $tablet-size) {
						-webkit-clip-path: polygon(0% 6.6%, 100% 0%, 75.4% 94%, 0% 100%);
						clip-path: polygon(0% 6.6%, 100% 0%, 75.4% 94%, 0% 100%);
					}

					// 1200px
					@media (min-width: $desktop-size) {
						margin-right: -28px;
						-webkit-clip-path: polygon(0% 6.6%, 100% 0%, 72.8% 94%, 0% 100%);
						clip-path: polygon(0% 6.6%, 100% 0%, 72.8% 94%, 0% 100%);
					}

					// 1500px
					@media (min-width: $desktop-size + 300) {
						-webkit-clip-path: polygon(0% 6.6%, 100% 0%, 77% 94.4%, 0% 100%);
						clip-path: polygon(0% 6.6%, 100% 0%, 77% 94.4%, 0% 100%);
					}

					// 1680px
					@media (min-width: $desktop-size + 480) {
						-webkit-clip-path: polygon(0% 6.6%, 100% 0%, 79% 94%, 0% 100%);
						clip-path: polygon(0% 6.6%, 100% 0%, 79% 94%, 0% 100%);
					}

					&:before {
						background: $color__primary-blue-default;
						mix-blend-mode: multiply;
						opacity: 0.4;
					}
					
					header {
						// 1024px
						@media (min-width: $tablet-size) {
							padding-right: 30px;
						}
						
						img {
							width: 272px;
							
							// 1024px
							@media (min-width: $tablet-size) {
								width: 164px;
							}

							// 1200px
							@media (min-width: $desktop-size) {
								width: 194px;
							}
						}
					}
				}
					.item--1 + .product-image {
						bottom: -100px;
						text-align: center;

						// 1024.98px
						@media (min-width: $tablet-size) {
							left: -36px;
							bottom: -76px;
						}
						
						// 1200px
						@media (min-width: $desktop-size) {
							left: -28px;
    						bottom: -52px;
						}

						img {
							height: 442px;

							// 1024px
							@media (min-width: $tablet-size) {
								height: 308px;
							}
							
							// 1200px
							@media (min-width: $desktop-size) {
								height: 320px;
							}
						}
					}
				
				.item--2 {
					position: relative;

					// 1024px
					@media (min-width: $tablet-size) {
						margin-top: 62px;

						-webkit-clip-path: polygon(20% 6%, 94% 0%, 74% 94%, 0% 100%);
						clip-path: polygon(20% 6%, 94% 0%, 74% 94%, 0% 100%);
					}

					// 1200px
					@media (min-width: $desktop-size) {
						-webkit-clip-path: polygon(22% 6.4%, 93.4% 0%, 74% 93%, 0% 100%);
						clip-path: polygon(22% 6.4%, 93.4% 0%, 74% 93%, 0% 100%);
					}

					// 1500px
					@media (min-width: $desktop-size + 300) {
						-webkit-clip-path: polygon(19.3% 6%, 95% 0%, 75% 94%, 0.3% 100%);
						clip-path: polygon(19.3% 6%, 95% 0%, 75% 94%, 0.3% 100%);
					}

					// 1680px
					@media (min-width: $desktop-size + 480) {
						-webkit-clip-path: polygon(17.9% 6%, 95% 0%, 77% 94%, 0.3% 100%);
						clip-path: polygon(17.9% 6%, 95% 0%, 77% 94%, 0.3% 100%);
					}

					&:before {
						background: linear-gradient(180deg, rgba(61, 60, 60, 0) 38.51%, #000000 80.52%);
					}

					header {
						img {
							width: 204px;

							// 1024px
							@media (min-width: $tablet-size) {
								width: 143px;
							}

							// 1200px
							@media (min-width: $desktop-size) {
								width: 211px;
							}
						}
					}
				}
					.item--2 + .product-image {
						bottom: -60px;
						text-align: center;
						
						// 1024px
						@media (min-width: $tablet-size) { 
							left: -30px;
    						bottom: -30px;
						}

						// 1200px
						@media (min-width: $desktop-size) { 
							left: -50px;
    						bottom: -30px;
						}
						
						img {
							height: 336px;
							
							// 1024px
							@media (min-width: $tablet-size) { 
								height: 248px;
							}

							// 1200px
							@media (min-width: $desktop-size) { 
								height: 320px;
							}
						}
					}

				.item--3 {
					// 1024px
					@media (min-width: $tablet-size) {
						margin-top: 30px;

						-webkit-clip-path: polygon(20% 6%, 96% 0%, 74% 94%, 0% 100%);
						clip-path: polygon(20% 6%, 96% 0%, 74% 94%, 0% 100%);
					}

					// 1200
					@media (min-width: $desktop-size) {
						-webkit-clip-path: polygon(22% 6.6%, 96% 0%, 74.2% 94%, 2.2% 100%);
						clip-path: polygon(22% 6.6%, 96% 0%, 74.2% 94%, 2.2% 100%);
					}

					// 1500px
					@media (min-width: $desktop-size + 300) {
						-webkit-clip-path: polygon(19.9% 6%, 96% 0%, 74.2% 94%, 0.2% 100%);
						clip-path: polygon(19.9% 6%, 96% 0%, 74.2% 94%, 0.2% 100%);
					}

					// 1680px
					@media (min-width: $desktop-size + 480) {
						-webkit-clip-path: polygon(18% 6%, 98.6% 0%, 76.2% 94%, 0.2% 100%);
						clip-path: polygon(18% 6%, 98.6% 0%, 76.2% 94%, 0.2% 100%);
					}

					&:before {
						background: linear-gradient(180deg, rgba(61, 60, 60, 0) 38.51%, #000000 80.52%)
					}

					header {
						img {
							width: 248px;

							// 1024px
							@media (min-width: $tablet-size) {
								width: 209px;
							}

							// 1200px
							@media (min-width: $desktop-size) {
								width: 242px;
							}
						}
					}
				}
					.item--3 + .product-image {
						bottom: -60px;
						text-align: center;

						// 1024px
						@media (min-width: $tablet-size) {
							right: 40px;
							bottom: 0px;
						}

						// 1200px
						@media (min-width: $desktop-size) {
							right: 50px;
							bottom: 0;
						}
						
						img {
							width: 303.27px;

							// 1024.98px
							@media (min-width: $tablet-size) {
								width: 244.89px;
							}

							// 1200px
							@media (min-width: $desktop-size) { 
								width: 303.27px;
							}
						}
					}

				.item--4 {
					background-position: 0% 100%;

					// 1024px
					@media (min-width: $tablet-size) {
						margin-top: 0;
						margin-left: -40px;

						-webkit-clip-path: polygon(26% 5.6%, 100% 0%, 100% 93.2%, 1% 100%);
						clip-path: polygon(26% 5.6%, 100% 0%, 100% 93.2%, 1% 100%);
					}

					// 1200px
					@media (min-width: $desktop-size) {
						margin-left: -60px;

						-webkit-clip-path: polygon(29% 6%, 100% 0%, 100% 93.2%, 4% 100%);
						clip-path: polygon(29% 6%, 100% 0%, 100% 93.2%, 4% 100%);
					}

					// 1500px
					@media (min-width: $desktop-size + 300) {
						-webkit-clip-path: polygon(24.6% 5.6%, 100% 0%, 100% 93.2%, 0% 100%);
						clip-path: polygon(24.6% 5.6%, 100% 0%, 100% 93.2%, 0% 100%);
					}

					// 1680px
					@media (min-width: $desktop-size + 480) {
						-webkit-clip-path: polygon(24.6% 5.6%, 100% 0%, 100% 93.2%, 0% 100%);
						clip-path: polygon(24.6% 5.6%, 100% 0%, 100% 93.2%, 0% 100%);
					}

					header {
						// 1024px
						@media (min-width: $tablet-size) {
							padding-left: 80px;
						}

						img {
							width: 248px;
							
							// 1024px
							@media (min-width: $tablet-size) {
								width: 209px;
							}

							// 1200px
							@media (min-width: $desktop-size) {
								width: 242px;
							}
						}
					}
				}
					.item--4 + .product-image {
						bottom: -80px;
						text-align: center;
						
						// 1024px
						@media (min-width: $tablet-size) {
							bottom: 10px;
    						right: 30px;
						}
						
						// 1200px
						@media (min-width: $desktop-size) {
							bottom: 0;
						}

						img {
							width: 401.66px;
							
							// 1024px
							@media (min-width: $tablet-size) {
								width: 294px;
							}

							// 1200px
							@media (min-width: $desktop-size) {
								width: 390px;
							}
						}
					}
			
			.product-image {
				position: absolute;
				width: 100%;

				img {
					object-fit: contain;
				}
			}
		}
	}
	
	.dealer-finder {
		z-index: 2;
		position: relative;
		margin-top: -40px;

		-webkit-clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
		clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);

		// 1024px
		@media (min-width: $tablet-size) {
			margin-top: -128px;

			-webkit-clip-path: polygon(0 20%, 100% 0, 100% 86.6%, 0% 100%);
			clip-path: polygon(0 20%, 100% 0, 100% 86.6%, 0% 100%);
		}

		// 1200px
		@media (min-width: $desktop-size) {
			margin-top: -130px;

			-webkit-clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);
			clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
		}
		
		#map {
			width: 100%;
			height: 550px;
			
			// 1024px
			@media (min-width: $tablet-size) {
				height: 604px;
			}
			
			> div {
				top: -40px !important;
			}

			// hide map popup
			> div + div {
				display: none;
			}
		}

		&__content {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			
			.info-box {}
				.heading {
					margin-bottom: 34px;
					display: block;

					// 1024px
					@media (min-width: $tablet-size) {
						margin-bottom: 38px;

						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
					}

					// 1200px
					@media (min-width: $desktop-size) {
						display: block;
					}
				}
					h2 {
						margin-bottom: 0;
						font-weight: 900;
						@include font-size($font__size-mobile-h2/16);
						color: $color__primary-blue-default;
						line-height: 100%;

						// 1024px
						@media (min-width: $tablet-size) {
							@include font-size($font__size-desktop-h2/16);
						}

						span {
							display: block;

							// 1024px
							@media (min-width: $tablet-size) {
								display: inline;
							}
						}
					}

					.cta {
						a {
							font-weight: 700;
							@include font-size($font__size-desktop-btn/16);
							background: transparent;
							padding-right: 67px;
							padding-left: 67px;
							line-height: 21px;
							letter-spacing: 0.1em;

							// 1024.98px
							@media (min-width: $tablet-size + 0.98) {
								background: $color__background-button;
								
								color: #fff;
								border: 0;
							}
						}
					}
			}
	}

	.set-the-trend {
		z-index: 1;
		position: relative;
		margin-top: -60px;
		margin-bottom: 38px;
		padding-top: 30px;
		
		// 1024px
		@media (min-width: $tablet-size) {
			margin-top: -140px;
			margin-bottom: 78px;
		}
	}

	.video {
		margin-bottom: 52px;
		
		// 768px
		@media (min-width: $phone-size) {
			margin-bottom: 56px;
		}
		
		// 1024px
		@media (min-width: $tablet-size) {
			margin-bottom: 36px;
		}
		
		.video-wrap {
			overflow: scroll;
			
			// 768px
			@media (min-width: $tablet-size) {
				padding-bottom: 26px;
			}
		}
			h2 {
				margin-bottom: 32px;
				font-weight: 900;
				@include font-size($font__size-desktop-h5/16);
				color: $color__primary-blue-default;
				text-transform: uppercase;
				
				// 1024px
				@media (min-width: $tablet-size) {
					margin-bottom: 16px;
				}
			}

			&__items {
				margin-left: -8px;
			}
				&__item {
					padding-right: 8px;
					padding-left: 8px;
					
					-webkit-box-flex: 0;
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					
					// 1024px
					@media (min-width: $tablet-size) {
						-webkit-box-flex: 0;
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
					}

					// 1200px
					@media (min-width: $desktop-size) {
						-webkit-box-flex: 0;
						-ms-flex: 0 0 33.333333%;
						flex: 0 0 33.333333%;
						max-width: 33.333333%;
					}
				}
		
		.view-videos {
			a {
				font-weight: 700;
				@include font-size($font__size-mobile-btn/16);
				color: $color__secondary-blue-default;
				line-height: 18px;
				letter-spacing: 0.1em;
			}
		}
	}
	
}