/**
 * Menu
 */

.site-header {
	z-index: 9;
	position: fixed;
    top: 0;
    left: 0;
	background-color: #fff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
    width: 100%;
	
	.site-branding {
		.site-title {
			img {
				max-width: 178px;

				// 1024px
				@media (min-width: $tablet-size) {
					max-width: 260px;
				}
			}
		}
		.site-description {
			display: none;
		}
	}

	.menu-toggle {
		padding: 0;
		background: transparent;

		&:focus {
			box-shadow: none;
		}
		
		span {
			background-color: $color__primary-blue-default;
			width: 18px;
			height: 2px;
			display: block;
			content: "";

			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}

	&__top {
		padding: 8px 16px;
		background-color: #027bbb;

		.header-top-menu {

			svg {
				max-height: 10px;

				path {
					fill: #fff;
				}
			}

			a {
				font-weight: 300;
				@include font-size($font__size-desktop-metadata/16);
				text-transform: uppercase;
				color: #fff;
			}

			li {
				&:not(:last-child) {
					margin-right: 16px;
				}

				&.facebook {
					position: relative;
					margin-left: 30px;
					
					&:before {
						position: absolute;
						left: -16px;
						top: 6px;
						background-color: #fff;
						width: 1px;
						height: 15px;
						content: "";
					}
				}
			}
		}
	}
	
	&__bottom {
		padding: 16px;
		background-color: #fff;
		
		// 1024px
		@media (min-width: $tablet-size) {
			padding: 0 16px;
		}

		.main-navigation {
			a {
				padding: 29px 0;
			}
			
			ul {
				li {
					position: relative;

					&.search {
						a {
							position: relative;
							top: 3px;
						}
					}
				}
			}

			// desktop menu
			.desktop-menu {
				display: none;
			}

			// tablet menu
			.tablet-menu {
				display: block;
			}

			// 1024.98px
			@media (min-width: $tablet-size + 132) {
				// desktop menu
				.desktop-menu {
					display: block;
				}
				
				// tablet menu
				.tablet-menu {
					display: none;
				}
			}
		}
	}
}

/**
 * Mega dropdown menu
 */

%_megamenu_main_item {
	font-family: $font__secondary;
	font-weight: 900;
	@include font-size($font__size-mobile-h4/16);
	color: #979797;

	// 992
	@media (min-width: $tablet-size) {
		@include font-size($font__size-desktop-h4/16);
	}

	&.active,
	&:hover {
		color: $color__secondary-blue-hover;
	}
}

.megadropdown-menu {
	z-index: 8;
	position: fixed;
    left: 0;
    top: 125.52px;
	background-color: #fff;
	width: 100%;
	box-shadow: 0px 12px 24px rgba(45,45,45,.1);
	display: none;
	
	// 1024px
	@media (min-width: $tablet-size) {
		display: block;
	}
    
	// motorcycle
	.motorcycle {
		padding: 38px 0;
		
		// hide by default
		display: none;
		
		.prod-category {

			li {
				&:not(:last-child) {
					margin-bottom: 24px;
				}

				a {
					@extend %_megamenu_main_item;
				}
			}

			&__items {
				display: none;

				&.active {
					display: block;
				}

				li {
					&:not(:last-child) {
						margin-bottom: 24px;
					}

					a {
						font-family: $font__secondary;
						font-weight: 700;
						@include font-size($font__size-mobile-nav/16);
						color: #979797;

						// 992
						@media (min-width: $tablet-size) {
							@include font-size($font__size-desktop-nav/16);
						}

						&.active,
						&:hover {
							color: $color__secondary-blue-hover;
						}
					}
				}

				&--info,
				&--thumbnails {
					li {
						display: none;

						&.active {
							display: block;
						}
					}
				}
				
				&--info {
					margin-top: 40px;
					margin-bottom: 0;

					h4 {
						margin-bottom: 8px;
						font-weight: 700;
						@include font-size($font__size-mobile-eyebrow/16);
						color: $color__secondary-blue-hover;
						text-transform: uppercase;

						// 992px
						@media (min-width: $tablet-size) {
							@include font-size($font__size-desktop-eyebrow/16);
						}
					}

					p {
						font-weight: 300;
						@include font-size($font__size-mobile-eyebrow/16);
						color: #333;
						
						// 992px
						@media (min-width: $tablet-size) {
							@include font-size($font__size-desktop-eyebrow/16);
						}
					}
				}

				&--thumbnails {

					img {
						// 992px
						@media (min-width: $tablet-size) {
							object-fit: contain;
							width: 452px;
							height: 302px;
						}
					}
					
					.cta {
						margin-top: 40px;
						
						a {
							@include font-size($font__size-mobile-btn/16);
							
							// 992px
							@media (min-width: $tablet-size) {
								@include font-size($font__size-desktop-btn/16);
							}
						}
					}

				}
			}
		}
	}


	// motorcycle
	.activity {
		// hide by default
		display: none;

		&__items {
			padding: 46px 0;

			li {
				&:not(:last-child) {
					margin-bottom: 24px;
				}

				a {
					@extend %_megamenu_main_item;
				}
			}
		}

		&__item {
			* {
				color: #fff;
			}
			
			&.active {
				display: block;
			}
			
			.post-type {
				&-item {
					display: none;

					&.active {
						display: block;
					}
					
					> div {
						padding: 38px;
					}
				}

				&-hero {
					position: relative;
					background-position: center;
					background-size: cover;

					&:before {
						position: absolute;
						left: 0;
						top: 0;
						background: linear-gradient(269.33deg, #003145 0.23%, rgba(0, 49, 69, 0) 97.02%);
						width: 100%;
						height: 100%;
						transform: rotate(180deg);
						content: "";
					}
				}
			}
				header {}
					.label {
						margin-bottom: 16px;
						font-family: $font__secondary;
						font-weight: 700;
						@include font-size($font__size-mobile-eyebrow/16);
						color: $color__accent-yellow-b;
						text-transform: uppercase;

						// 992
						@media (min-width: $tablet-size) {
							@include font-size($font__size-desktop-eyebrow/16);
						}
					}
					h3 {
						margin-bottom: 8px;
						font-weight: 700;
						@include font-size($font__size-mobile-h4/16);
						
						// 992
						@media (min-width: $tablet-size) {
							@include font-size($font__size-desktop-h4/16);
						}
					}

				.date {
					margin-bottom: 11px;
					font-weight: 300;
					@include font-size($font__size-mobile-metadata/16);
					text-transform: uppercase;
						
					// 992
					@media (min-width: $tablet-size) {
						@include font-size($font__size-desktop-metadata/16);
					}
				}
				
				.excerpt {
					margin-bottom: 16px;

					p {
						font-weight: 300;
						@include font-size($font__size-mobile-metadata/16);
							
						// 992
						@media (min-width: $tablet-size) {
							@include font-size($font__size-desktop-metadata/16);
						}
					}
				}
				
				.cta {
					a {}
				}
		}
	}

	// after sale
	.after-sale {
		// hide by default
		display: none;

		&__items {
			padding: 46px 0;

			li {
				&:not(:last-child) {
					margin-bottom: 24px;
				}

				a {
					@extend %_megamenu_main_item;	
				}
			}
		}
	}

}

/**
 * Mobile menu
 */
 .mobile-menu-active {
	&:before {
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(23,23,23,.6);
		width: 100%;
		height: 100%;
		content: "";
	}

	.site-header {
		position: inherit;
	}

	.fixed-menu {
		z-index: 1;
		position: absolute;
	}

	.mobile-menu {
		left: 0;
		overflow: scroll;
		
		// 575px
		@media (min-width: $xsmall-devices) {
			width: 240px;
		}
	}
}

.mobile-menu {
    z-index: 9999;
    position: fixed;
    top: 0;
	left: -240px;
    background-color: #fff;
    width: 160px;
	height: 100vh;
	border-right: 2px solid #a7a7a7;
	@include transition(0.3s);
	
	.close-mobile-menu {
		position: absolute;
		right: 0;
		top: 16px;
		padding: 18px 13px;

		span {
			background-color: #1c1e23;
			width: 24px;
			height: 1px;
			content: "";
			display: block;

			&:not(:last-child) {
				margin-bottom: 6px;
			}

			&:nth-child(1) {
				transform: rotate(45deg) translate(3px, 4px);
			}

			&:nth-child(2) {
				transform: rotate(-45deg) translate(1px, -2px);
			}
		}
	}

	.mobile-navigation {
		margin-top: 64px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
	
			ul {
				a {
					padding-left: 32px;
				}

				ul {
					a {
						padding-left: 54px;
					}
				}
			}
		}

		li {
			position: relative;

			a {
				padding: 16px;
				color: #1c1e23;
				display: block;
			}
			
			&.hidey {
				ul {
					display: none;
				}

				.mobiMenuChild {
					&:after {
						margin-top: 12px;
						transform: rotate(-45deg);
					}
				}
			}
		}

		.mobiMenuChild {
			position: absolute;
			top: 10px;
			right: 8px;
			width: 38px;
			height: 34px;
			margin: 0 auto;
			cursor: pointer;
			text-align: center;

			&:after {
				border-right: 1px solid #1c1e23;
				border-bottom: 1px solid #1c1e23;
				content: "";
				width: 12px;
				height: 12px;
				display: inline-block;
				transform: rotate(45deg);

				// transition
				@include transition(.3s);
			}
		}
	}
}