.page-template-motorcycle {

    .filter {
        margin-bottom: 32px;

        // 768px
        @media (min-width: $tablet-size) {
            margin-top: 42px;
        }
        
        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 48px;
        }

        &-wrap {
            .filter-apply {
                @media (min-width: $xsmall-devices) {
                    display: none;
                }
            }

            // 576px
            @media (max-width: $xsmall-devices) {
                .filter__list--category,
                .filter__list--price,
                .filter-apply {
                    display: none;
                }
                
                &.active {
                    .filter__list--category,
                    .filter__list--price,
                    .filter-apply {
                        display: block;
                    }
                }
            }
        }

        &__list {

            &--category,
            &--price {
                > a {
                    letter-spacing: 0.1em;
                }
            }

            > li {
                margin: 0 -4px;
                
                > a {
                    padding: 17px 39px;
                    background-color: #fff;
                    font-weight: 700;
                    @include font-size($font__size-desktop-eyebrow/16);
                    text-transform: uppercase;
                    display: block;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    
                    // 768px
                    @media (min-width: $phone-size) {
                        font-weight: 700;
                        background-color: $color__background-body-2;

                        -webkit-clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
                        clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
                    }
                }

                &:first-child {
                    // 768px
                    @media (min-width: $phone-size) {
                        min-width: 144px;
                    }

                    > a {
                        padding: 17px 26px;
                        background-color: $color__neutrals_050;
                        font-weight: 900;
                        @include font-size($font__size-mobile-h4/16);
                        line-height: 14px;
                        letter-spacing: 0;

                        // 768px
                        @media (min-width: $phone-size) {
                            font-weight: 700;
                            @include font-size($font__size-desktop-eyebrow/16);

                            -webkit-clip-path: polygon(0% 0%, 0% 100%, 92% 100%, 100% 0%);
                            clip-path: polygon(0% 0%, 0% 100%, 92% 100%, 100% 0%);
                        }
                    }
                }

                &:nth-child(2) {
                    // 768px
                    @media (min-width: $phone-size) {
                        min-width: 184px;
                    }
                    
                    > a {
                        // 768px
                        @media (min-width: $phone-size) {
                            -webkit-clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
                            clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
                        }
                    }
                }
                
                &:last-child {
                    // 768px
                    @media (min-width: $phone-size) {
                        min-width: 212px;   
                    }

                    > a {
                        // 768px
                        @media (min-width: $phone-size) {
                            -webkit-clip-path: polygon(5% 0, 0% 100%, 100% 100%, 100% 0%);
                            clip-path: polygon(5% 0, 0% 100%, 100% 100%, 100% 0%);
                        }
                    }
                }
            }

            li {
                position: relative;
                
                &:hover {
                    .sub-menu {
                        left: auto;
                    }
                }
            }

            a {
                font-family: $font__secondary;
                font-weight: 900;
                @include font-size($font__size-mobile-eyebrow/16);
                color: $color__primary-blue-default;

                // 768px
                @media (min-width: $phone-size) {
                    font-weight: 700;
                    @include font-size($font__size-desktop-eyebrow/16);
                }
            }
            
            .sub-menu {
                z-index: 99;
                left: 0;
                padding: 8px 0;
                background-color: #fff;
                border-top: 14px solid #fff;

                // 768px
                @media (min-width: $phone-size) {
                    position: absolute;
                    top: 48px;
                    left: -999em;
                    background-color: $color__secondary-blue-hover;
                    box-shadow: 0px 44px 40px 10px hsl(0, 0%, 87%);
                    
                    &:before {
                        position: absolute;
                        top: -24px;
                        left: calc(50% - 12px);
                        border: 12px solid transparent;
                        border-bottom-color: #005e90;
                        width: 0;
                        height: 0;
                        display: block;
                        content: "";
                    }
                }

                li {
                    position: relative;

                    &.active {
                        // 576px
                        @media (max-width: $xsmall-devices) {
                            a {
                                background-color: $color__background-body-2;
                                color: $color__primary-blue-hover;
                                
                                &:before {
                                    background: url(images/check-icon.svg) no-repeat 0 0;
                                }
                            }
                        }
                    }
                }
                
                a {
                    padding: 12px 16px;
                    @include font-size($font__size-desktop-h4/16);
                    color: #333;
                    display: block;

                    // 768px
                    @media (min-width: $phone-size) {
                        padding: 6px 16px;
                        width: 220px;
                        @include font-size($font__size-desktop-nav/16);
                        color: #fff;
                    }
                    
                    // 1024px
                    @media (min-width: $tablet-size) {}
                    
                    &:before {
                        // 576px
                        @media (max-width: $xsmall-devices) {
                            margin-right: 16px;
                            width: 18px;
                            height: 14px;
                            display: inline-block;
                            content: "";
                        }
                    }
                    
                    &:hover {
                        background-color: $color__background-body-2;
                        color: $color__primary-blue-hover;
                    }
                }
            }
        }

        .filter-apply {
            &__btn {
                @include font-size($font__size-desktop-btn/16);
                line-height: 21px;
                letter-spacing: 0.1em;

                // 1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-btn/16);
                }
            }
        }

        .compare-btn {
            a {
                @include font-size($font__size-desktop-btn/16);
                line-height: 21px;
                letter-spacing: 0.1em;

                // 1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-btn/16);
                }
            }
        }
    }
    
    .motorcycles-ajax,
    .motorcycles {
        &__cat {
            width: 100%;
            margin-bottom: 24px;

            // 768px
            @media (min-width: $phone-size) {
                margin-bottom: 32px;
            }
            
            // 1024px
            @media (min-width: $tablet-size + 0.98) {
                margin-bottom: 48px;
                
                &:last-child {
                    margin-bottom: 32px;
                }
            }

            // 1200px
            @media (min-width: $desktop-size) {
                margin-bottom: 64px;

                &:last-child {
                    margin-bottom: 40px;
                }
            }

            h2 {
                margin-bottom: 8px;
                font-weight: 900;
                @include font-size($font__size-desktop-h3/16);
                color: $color__primary-blue-default;
                line-height: 100%;
            }
            
            .cat-description {
                margin-bottom: 24px;
                
                // 1024px
                @media (min-width: $tablet-size) {
                    margin-bottom: 32px;
                }

                // 1200px
                @media (min-width: $desktop-size) {
                    margin-bottom: 32px;
                }

                p {
                    color: $color__neutrals_175;
                    line-height: 140%;
                }
            }
        }   
            .backbone {
                &__filter {
                    display: none;
                    
                    &.active {
                        display: block;
                    }

                    ul {
                        li {
                            margin-right: 16px;
                            font-weight: 300;
                            @include font-size($font__size-desktop-metadata/16);
                            color: $color__primary-blue-default;
                            text-transform: uppercase;

                            span {
                                margin-left: 6px;
                            }
                        }
                    }
                }
            }

            .backbone-item {
                &.hide {
                    position: absolute !important;
                    left: 0 !important;
                    top: 9999rem !important;
                    display: none !important;
                }
            }

        &__items {}
            &__item {
                margin-bottom: 26px;
                padding: 0 19px;
            }
    }

    .back-to-top {
        margin-bottom: 48px;
    }

}