/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {}
	&:hover,
	&:active {
		outline: 0;
	}
	
	@include transition(0.25s);
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	
	%_active_item {
		color: $color__secondary-blue-hover;
		border-bottom-color: $color__secondary-blue-hover;
	}

	.primary-menu {
		> li {
			> a {
				padding: 27.5px 0;
				border-bottom: 4px solid transparent;

				&.hover,
				&:hover {
					@extend %_active_item;
				}
			}

			&.current_page_item > a,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current-menu-ancestor > a {
				@extend %_active_item;
			}
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 86px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {}

			a:hover,
			a.focus {}
		}
		
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		display: inline-block;
		position: relative;
		
		&:not(:last-child) {
			padding-right: 36px;

			// 1024px
			@media(min-width: $tablet-size) {
				padding-right: 16px;
			}
			
			// 1200px
			@media(min-width: $desktop-size) {
				padding-right: 20px;
			}
		}
	}
	
	a {
		position: relative;
		font-family: $font__secondary;
		font-weight: 700;
		@include font-size(1);
		text-decoration: none;
		display: block;
		color: #333;
	}
	
	.menu-item-has-children {
		a {
			display: -ms-flexbox;
			display: flex;
			align-items: center;
			
			// right caret
			&:after {
				margin-left: 4px;
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid #005e90;
				content: "";
			}
		}

		// 1024px
		@media (min-width: $tablet-size) {
			.sub-menu {
				display: none;
			}
		}
	}

	
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $tablet-size) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
