.page-template-news {
    background-color: #F7F7F7;

    .site-main {
        margin: 0;
    }

    .hero {
        position: relative;
        padding: 185px 0 64px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(83.52deg, #000000 -5.7%, rgba(0, 0, 0, 0) 83.53%);
            width: 100%;
            height: 100%;
            content: "";
        }
        
        // 1024px
        @media (min-width: $tablet-size) {
            padding: 136px 0;
        }

        * {
            color: #fff;
        }

        .news-label {
            margin-bottom: 16px;
            font-weight: 700;
            font-family: $font__secondary;
            @include font-size($font__size-desktop-eyebrow/16);
            color: $color__accent-yellow-a;
            text-transform: uppercase;
            line-height: 19px;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size(1);
            }
        }

        .entry-title {
            font-weight: 900;
            @include font-size($font__size-desktop-h4/16);
            line-height: 100%;
            
            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h2/16);
            }
        }
    }

    .news {

        .row {
            margin-right: -16px;
            margin-left: -16px;
        }
        
        div[class^="col-"] {
            padding-right: 16px;
            padding-left: 16px;
        }

        &__items {
            padding: 48px 0 38px 0;

            // 1024.92px
            @media (min-width: $tablet-size + 0.92) {
                padding: 64px 0 59px 0;
            }
        }
            &__item {
                margin-bottom: 24px;
                
                // 1024px
                @media (min-width: $tablet-size) {
                    margin-bottom: 74px;
                }
                
                // 1024.92px
                @media (min-width: $tablet-size + 0.92) {
                    margin-bottom: 51px;
                }
            }

    }
    
    .pagination {
        justify-content: center;
        
        // 1024px
        @media (max-width: $tablet-size) {
            margin-top: -36px;
        }
    }

}