%_promo_period {
    margin-bottom: 9px;
    
    p {
        font-family: $font__secondary;
        font-weight: 400;
        @include font-size($font__size-mobile-small/16);
        color: $color__neutrals_150;
        text-transform: uppercase;
        line-height: 160%;
        letter-spacing: 0.1em;

        // 1024px
        @media (min-width: $tablet-size) {
            @include font-size($font__size-desktop-eyebrow/16);
            line-height: 14px;
        }
    }
}

.page-template-promo {
    background-color: $color__background-body-2;

    .container {
        padding-right: 67px;
        padding-left: 67px;

        // 1024px
        @media (min-width: $tablet-size) {
            padding-right: 16px;
            padding-left: 16px;
        }
    }

    .site-main {
        margin: 32px 0 32px 0;

        // 1024px
        @media (min-width: $tablet-size) {
            margin: 56px 0 56px 0;
        }

        // 1200px
        @media (min-width: $desktop-size) {
            margin: 64px 0 64px 0;
        }
    }

    .entry-header {
        margin-bottom: 32px;

        h1 {
            margin-bottom: 0;
            font-weight: 900;
            @include font-size($font__size-mobile-h3/16);
            color: $color__primary-blue-default;
            line-height: 100%;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h3/16);
            }
        }
    }
    
    .promo {

        .row {
            margin-right: -16px;
            margin-left: -16px;
        }
        
        div[class^="col-"] {
            padding-right: 16px;
            padding-left: 16px;
        }
        
        &__item {}
        
    }

}

/**
 * Single promo
 */
.single-promo {

    .set-the-trend  {

        //  1024px
        @media (min-width: $tablet-size) {
            &:after {
                background-position: right top;
            }
        }
        
        .content {
            // 1024px
            @media (min-width: $tablet-size) {
                padding: 58px 0 98px 0;
            }
        }

    }

    .promo-period {
        margin-bottom: 22px;
        @extend %_promo_period;
    }

    .entry-header {
        margin-bottom: 35px;
    }
        h1 {
            margin-bottom: 0;
            font-weight: 900;
            @include font-size($font__size-desktop-h3/16);
            color: $color__primary-blue-default;
            line-height: 100%;
            
            // 1024px
            @media (min-width: $tablet-size) {}
        }

    .entry-content {
        strong {
            font-weight: 700;
        }

        p {
            color: #333;

            // 1024px
            @media (min-width: $tablet-size) {
                margin-bottom: 43px;
            }
        }
    }

    .cta {
        a {
            font-weight: 700;
            @include font-size($font__size-mobile-btn/16);
            color: $color__secondary-blue-default;
            text-transform: uppercase;
            line-height: 21px;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-btn/16);
            }
        }
    }

} 