/**
 * Single Product
 */

.single-product {

    %_active_tooltip {
        z-index: 1;
        top: -90px;
        opacity: 1;
    }

    // overwrite 
    &.postid-386 {
        .view360 {
            // keypoints
            .key-points {
                
                &__item {
                    .spot {
                        &.active {
                            .spot__content {
                                // 768px
                                @media (min-width: $phone-size) {
                                    width: 304px;    
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .site-main {
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #F8FBFC 0%, rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 586px;
            content: "";
        }
    }

    // intro details
    .intro-details {
        margin-top: 25px;
        margin-bottom: 16px;

        // 1024.98px;
        @media (min-width: $tablet-size + 0.98) {
            margin-bottom: 0;
        }

        &__content {
            ul {
                li {
                    &:not(:last-child) {
                        // 768px
                        @media (min-width: $phone-size) {
                            margin-right: 56px;
                        }
                    }
                }
            }

            p {
                font-family: $font__secondary;
                font-weight: 700;
                @include font-size($font__size-desktop-eyebrow/16);
                text-transform: uppercase;
                color: $color__neutrals_150;
                line-height: 14px;
                letter-spacing: 0.1em;

                span {
                    margin-top: 8px;
                    font-weight: 900;
                    @include font-size($font__size-mobile-h4/16);
                    color: $color__primary-blue-default;
                    line-height: 120%;

                    // 768.98px
                    @media (min-width: $phone-size + 0.98) {
                        @include font-size($font__size-desktop-h4/16);
                    }
                }
            }
        }
    }

    // view-360
    .view360 {

        .view360-the-trend {
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
            
            h2 {
                margin-top: 40px;
                
                font-weight: 900;
                font-style: italic;
                color: $color__primary-blue-default;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                line-height: 0.8;
                mix-blend-mode: normal;
                opacity: 0.07;
                border: 0.621502px solid #FFFFFF;
                transform: rotate(-5deg);
                
                .heading {
                    margin-bottom: 6px;
                    @include font-size(42/16);
                    
                    // 1024px
                    @media (min-width: $tablet-size) {
                        @include font-size(72/16);
                    }
                }

                .sub-heading {
                    @include font-size(80/16);

                    // 768px
                    @media (min-width: $phone-size) {
                        @include font-size(120/16);
                    }

                    // 1024px
                    @media (min-width: $tablet-size) {
                        @include font-size(170/16);
                    }

                    // 1200px
                    @media (min-width: $desktop-size) {
                        @include font-size(198/16);
                    }
                }
                
                
            }
        }
        
        .view360-wrap {
            z-index: 2;
            position: relative;
            
            canvas {
                width: 100%;
            }
        }

        &__content {
            margin-bottom: 32px;
            position: relative;
            
            ul {
                li {
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }
        }

        &__filter {
            a {
                padding: 12px 22px;
                font-weight: 300;
                @include font-size($font__size-mobile-small/16);
                text-transform: uppercase;
                display: block;
                
                min-width: 124px;
                min-height: 54px;
                text-align: center;
                
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                justify-content: center;
                
                // diagonal
                -webkit-clip-path: polygon(10% 0%, 100% 0%, 89% 100%, 0% 100%);
                clip-path: polygon(10% 0%, 100% 0%, 89% 100%, 0% 100%);
                
                // 768px
                @media (min-width: $phone-size) {
                    padding: 15px 32px;
                    @include font-size($font__size-desktop-body/16);
                    min-width: 200px;
                }

                span {
                    color: #fff;
                    opacity: 0.4;
                }

                &:hover {
                    + .tool-tip {
                        @extend %_active_tooltip;
                    }
                }
            }

            ul {
                li {
                    position: relative;
                    margin: 0 -2px 6px 0;

                    // 768px
                    @media (min-width: $phone-size) {
                        margin: 0 -7px 6px -7px;
                    }

                    &.active {
                        a {
                            font-weight: 700;

                            span {
                                opacity: 1;
                            }
                        }
                        
                        .tool-tip {
                            @extend %_active_tooltip;
                        }
                    }
                    
                    .tool-tip {
                        z-index: -1;
                        position: absolute;
                        left: calc(50% - 94px);
                        top: -76px;
                        padding: 16px;
                        background-color: #fff;
                        width: 188px;
                        text-align: center;
                        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.05);
                        border-top: 6px solid $color__text-blue;
                        
                        opacity: 0;
                        @include transition(0.3s);
                        
                        &:after {
                            position: absolute;
                            bottom: -14px;
                            left: calc(50% - 14px);
                            width: 0; 
                            height: 0; 
                            border-left: 14px solid transparent;
                            border-right: 14px solid transparent;
                            border-top: 14px solid #fff;
                            content: "";
                        }

                        p {
                            font-weight: 325;
                            font-family: $font__secondary;
                            @include font-size(12/16);
                            line-height: 14px;
                            color: #000;
                        }
                    }
                }
            }
        }     
        
        .view360-arrow {
            z-index: 1;
            position: absolute;
            bottom: -44px;
            width: 100%;

            // 768px
            @media (min-width: $phone-size) {
                bottom: 0;
            }

            // 1024.98px
            @media (min-width: $tablet-size + 0.98) {
                bottom: 24px;
            }

            svg {
                width: 100%;
            }
        }

        // keypoints
        .key-points {

            // hide by default
            display: none;
            
            &__item {
                
                .spot {
                    &__indicator {
                        z-index: 6;         // making sure it display at the higher order
                        position: absolute;
                        left: 0;
                        top: 0;

                        background-color: #fff;
                        border: 5px solid #007bbb;
                        width: 24px;
                        height: 24px;
                        border-radius: 10rem;
                        display: inline-block;
                        cursor: pointer;

                        // glow shadow
                        box-shadow: 0 0 14px 2px hsla(0, 0%, 100%, 0.6705882352941176);
                        
                        &:hover {
                            background-color: $color__accent-red-default;

                            & + .spot__content {
                                display: block;    
                            }
                        }
                    }
                    &__content {
                        z-index: 12;
                        position: absolute;
                        left: 0;
                        top: calc(50% - 180px);
                        background-color: #fff;
                        width: 280px;
                        box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.2);
                        
                        // hide by default
                        display: none;
                        
                        // 1024px
                        @media (min-width: $tablet-size) {
                            left: -110px;
                        }
                        
                        // 1200px
                        @media (min-width: $desktop-size) {
                            width: 355px;
                            left: -134px;
                            top: calc(50% - 200px);
                        }

                        img {
                            width: 100%;
                        }

                        .description {
                            z-index: 8;
                            position: relative;
                            padding: 32px;
                            
                            h3 {
                                margin-bottom: 16px;
                                font-weight: 900;
                                @include font-size(1);
                                text-transform: uppercase;
                            }

                            p {
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    &.active {
                        .spot__content {
                            display: block;
                            
                            // 768px
                            @media (min-width: $phone-size) {}
                        }
                    }
                    
                    // close button
                    .close-btn {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                    }

                }
                
            }
            
        }

    }

    // product specifications
    .product-specifications {
        margin-top: 58px;

        // 768px
        @media (min-width: $phone-size) {
            margin-top: 86px;
        }
        
        &__filter-wrap {
            .container {
                padding: 0;

                @media (min-width: $phone-size) {
                    padding-right: 8px;
                    padding-left: 8px;
                }
            }
        }

        &__filter {
            margin-bottom: 32px;
            overflow: scroll;

            // 768px
            @media (min-width: $phone-size) {
                margin-bottom: 50px;
                overflow: inherit;
            }

            ul {
                li {
                    margin: 0 -3px;

                    a {
                        padding: 15px 55px;
                        background-color: #F2F2F2;
                        font-family: $font__secondary;
                        font-weight: 700;
                        @include font-size($font__size-mobile-eyebrow/16);
                        text-transform: uppercase;
                        color: $color__primary-blue-default;
                        display: block;
                        
                        min-width: 188px;
                        text-align: center;

                        line-height: 14px;
                        letter-spacing: 0.1em;

                        // diagonal
                        -webkit-clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
                        clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);

                        // 768px
                        @media (min-width: $phone-size) {
                            @include font-size($font__size-desktop-eyebrow/16);
                        }
                    }

                    &:hover,
                    &.active {
                        a {
                            background-color: $color__accent-red-default;
                            color: #fff;
                        }
                    }

                    &:first-child {
                        a {
                            -webkit-clip-path: polygon(0% 0%, 0% 100%, 88% 100%, 100% 0%);
                            clip-path: polygon(0% 0%, 0% 100%, 94% 100%, 100% 0%);
                        }
                    }

                    &:last-child {
                        a {
                            -webkit-clip-path: polygon(6% 0, 0% 100%, 100% 100%, 100% 0%);
                            clip-path: polygon(6% 0, 0% 100%, 100% 100%, 100% 0%);
                        }
                    }
                }
            }
        }

        &__content {
            img {
                mix-blend-mode: multiply;
            }
            
            > ul {
                > li {
                    padding: 40px 32px;
                    background: linear-gradient(180deg, #F8FBFC 0%, rgba(255, 255, 255, 0) 100%);
                    display: none;

                    // 768px
                    @media (min-width: $phone-size) {
                        padding: 40px;
                    }
                    
                    &.active {
                        display: block;
                    }
                }
            }

            h2 {
                margin-bottom: 8px;
                font-weight: 900;
                @include font-size($font__size-mobile-h2/16);
                color: $color__primary-blue-default;
                
                // 768px
                @media (min-width: $phone-size) {
                    @include font-size($font__size-desktop-h2/16);
                }
            }

            .excerpt {
                p {
                    @include font-size($font__size-mobile-body/16);
                    font-weight: 300;
                    
                    // 768px
                    @media (min-width: $phone-size) {
                        @include font-size($font__size-desktop-body/16);
                    }
                    
                    strong {
                        font-weight: 700;
                        color: $color__accent-red-default;
                    }
                }

                ul,
                ol {
                    margin-left: 0;
                    margin-bottom: 24px;
                }
            }

            // overview
            .overview {
                h2 {
                    margin-bottom: 16px;
                }

                .excerpt {
                    // 768px
                    @media (min-width: $phone-size) {
                        padding-right: 64px;
                    }
                }

                .item-property {
                    p {
                        margin-bottom: 26px;
                        font-family: $font__secondary;
                        font-weight: 700;
                        @include font-size($font__size-mobile-eyebrow/16);
                        text-transform: uppercase;
                        color: $color__neutrals_150;
                        line-height: 14px;
                        letter-spacing: 0.1em;

                        // 768px
                        @media (min-width: $phone-size) {
                            margin-bottom: 32px;
                            @include font-size($font__size-desktop-eyebrow/16);
                        }

                        span {
                            margin-top: 8px;
                            font-weight: 900;
                            @include font-size($font__size-desktop-h4/16);
                            color: $color__primary-blue-default;
                            line-height: 120%;
                        }
                    }
                }
                
                .brochure-btn {
                    font-family: $font__main;
                    font-weight: 700;
                    @include font-size($font__size-desktop-btn/16);
                    color: $color__secondary-blue-default;
                }
            }

            // engine
            
            // chassis
            
            // dimensions
        }
    }

    // product key-points
    &.view-product-points {
        .key-points {
            display: block;
        }
    } 
    
    // video review
    .video-review {
        margin-top: 60px;
        position: relative;

        * {
            color: #fff;
        }
        
        .col-left,
        .col-right {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        // 1024.98px
        @media (min-width: $tablet-size + 0.98) {
            .col-left {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
                max-width: 66.666667%;
            }
            .col-right {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }

        .section-header {
            h2 {
                position: absolute;
                width: 100%;
                
                font-weight: 700;
                @include font-size(77/16);
                font-style: italic;
                color: $color__primary-blue-default;
                text-transform: uppercase;
                opacity: 0.07;

                // 1024px
                @media (min-width: $tablet-size) {
                    @include font-size(165/16);
                }
            }

            .video-label {
                top: -14px;
                left: 0;
                
                // 768px
                @media (min-width: $phone-size) {
                    top: 0;
                }
            }
            .review-label {
                z-index: 1;
                right: 0;
                bottom: 0;
                text-align: right;
                margin-bottom: -44px;

                // 768px
                @media (min-width: $phone-size) {
                    margin-bottom: -24px;
                }
                
                // 1024px
                @media (min-width: $tablet-size) {
                    margin-bottom: -52px;
                }

                // 1200px
                @media (min-width: $desktop-size) {
                    margin-bottom: -94px;
                }
            }
        }
        
        &__item {
            position: relative;
            padding: 32px;
            background-repeat: no-repeat;
            background-size: cover;
            height: 316px;

            // diagonal
            -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 86%, 0% 100%);
            clip-path: polygon(0 14%, 100% 0%, 100% 86%, 0% 100%);

            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(0, 49, 69, 0) 0%, #003145 100%);
                width: 100%;
                content: "";
            }

            a {
                &:hover {
                    .header {
                        svg {
                            g {
                                mix-blend-mode: normal !important;
                            }
                            path {
                                fill: $color__accent-red-default;
                            }
                        }
                    }
                }
            }

            .header {
                svg {
                    margin-right: 8px;
                    width: 52px;
                    height: 52px;
                }
            }

            .content {
                z-index: 2;
                position: relative;
                
                p {
                    @include font-size($font__size-mobile-small/16);

                    // 576px
                    @media (min-width: $xsmall-devices) {
                        @include font-size($font__size-desktop-body/16);
                    }
                }
            }
                h2 {
                    font-weight: 900;
                    @include font-size($font__size-mobile-h2/16);
                }

                .duration {
                    padding: 6px 14px;
                    background-color: $color__accent-red-default;
                    font-family: $font__secondary;
                    font-weight: 700;
                    @include font-size($font__size-mobile-small/16);
                    color: #fff;

                    svg {
                        margin-left: 9px;
                        width: 16px;
                    }
                }
            
            &.main {
                z-index: 2;
                
                // 768.98px
                @media (min-width: $phone-size + 0.98) {
                    padding: 32px;
                    height: 624px;
                    
                    -webkit-clip-path: polygon(0 14%, 100% 0, 100% 84%, 0% 100%);
                    clip-path: polygon(0 14%, 100% 0, 100% 84%, 0% 100%);
                }

                // 1024.98px
                @media (min-width: $tablet-size + 0.98) {
                    margin-top: 46px;
                    margin-right: 38px;
                    padding: 54px;
                    height: 108%;

                    // diagonal
                    -webkit-clip-path: polygon(0 14%, 100% 0, 100% 86%, 0% 100%);
                    clip-path: polygon(0 14%, 100% 0, 100% 86%, 0% 100%);
                }
                
                .header {
                    svg {
                        // 768.98px
                        @media (min-width: $phone-size + 0.98) {
                            margin-right: 38px;

                            width: 100px;
                            height: 100px;
                        }

                        // 1024.98px
                        @media (min-width: $tablet-size + 0.98) {
                            width: 88px;
                            height: 88px;
                        }
                    }

                    h2 {
                        // 768.98px
                        @media (min-width: $phone-size + 0.98) {
                            @include font-size($font__size-desktop-h1/16);
                        }
                    }
                }

                .duration {
                    // 768.98px
                    @media (min-width: $phone-size + 0.98) {
                        padding: 10px 24px;
                        @include font-size($font__size-mobile-h5/16);

                        svg {
                            width: 28px;
                            height: 28px;
                        }
                    }

                    // 1024.98px
                    @media (min-width: $tablet-size + 0.98) {
                        @include font-size($font__size-desktop-h5/16);
                    }
                }
            }

            &.featured {
                z-index: 2;

                // 768.98px
                @media (min-width: $phone-size + 0.98) {
                    padding: 80px 28px;
                    height: 352px;
                }
                
                // 1024.98px
                @media (min-width: $tablet-size + 0.98) {
                    padding: 90px 38px;
                    height: 100%;
                    
                    display: inherit;
                }
                
                .header {
                    svg {
                        margin-right: 8px;

                        // 768.98px
                        @media (min-width: $phone-size + 0.98) {
                            width: 74px;
                            height: 74px;
                        }

                        // 1024.98px
                        @media (min-width: $tablet-size + 0.98) {
                            width: 52px;
                            height: 52px;
                        }
                    }

                    h2 {
                        // 768.98px
                        @media (min-width: $phone-size + 0.98) {
                            @include font-size($font__size-mobile-h2/16);
                        }
                    }
                }
                .duration {
                    @include font-size($font__size-mobile-small/16);

                    svg {
                        // 768.98px
                        @media (min-width: $phone-size + 0.98) {
                            width: 16px;
                        }
                    }
                }
                
                &.item-2 {
                    // 768.98px
                    @media (min-width: $phone-size + 0.98) {
                        margin-top: -22px;
                    }

                    // 1024px
                    @media (min-width: $tablet-size) {
                        margin-right: 12px;
                    }

                    // 1024.98px
                    @media (min-width: $tablet-size + 0.98) {
                        margin-top: 0;
                        margin-right: 0;
                    }
                }

                // item 3
                &.item-3 {
                    // 768.98px
                    @media (min-width: $phone-size + 0.98) {
                        margin-top: -71px;
                    }

                    // 1024px
                    @media (min-width: $tablet-size) {
                        margin-left: 12px;
                    }

                    // 1024.98px
                    @media (min-width: $tablet-size + 0.98) {
                        margin-left: 0;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    // related products
    .related-product {
        padding: 60px 0;
        
        // 768px
        @media (min-width: $phone-size) {
            padding: 80px 0;
        }
        
        h2 {
            margin-bottom: 32px;
            font-weight: 700;
            @include font-size($font__size-desktop-eyebrow/16);
            color: $color__neutrals_150;
            line-height: 14px;
            letter-spacing: 0.1em;

            span {
                margin-top: 8px;
                font-weight: 900;
                @include font-size($font__size-desktop-h2/16);
                color: $color__primary-blue-default;
                line-height: 100%;
            }
        }

        &__item {}
    }
    
}