.page-template-racing {
    background-color: #F7F7F7;

    .site-main {
        margin: 0;
    }

    .hero {
        position: relative;
        padding: 185px 0 64px 0;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(83.52deg, #000000 -5.7%, rgba(0, 0, 0, 0) 83.53%);
            width: 100%;
            height: 100%;
            content: "";
        }
        
        // 1024px
        @media (min-width: $tablet-size) {
            padding: 136px 0;
        }

        * {
            color: #fff;
        }

        .racing-label {
            font-weight: 700;
            font-family: $font__secondary;
            @include font-size($font__size-desktop-eyebrow/16);
            color: $color__accent-yellow-a;
            text-transform: uppercase;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size(1);
            }
        }

        .entry-title {
            font-weight: 900;
            @include font-size($font__size-desktop-h4/16);
            
            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-h2/16);
            }
        }
    }

    .racing {

        .row {
            margin-right: -12px;
            margin-left: -12px;
        }
        
        div[class^="col-"] {
            padding-right: 12px;
            padding-left: 12px;
        }

        &__filter {
            margin-top: 13px;

            ul {
                li {
                    &:not(:last-child) {
                        margin-right: 16px;
                    }

                    @include font-size($font__size-mobile-metadata/16);

                    // 1024px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-metadata/16);
                    }
                }
            }
        }

        &__items {
            padding: 24px 0 38px 0;

            // 1024.92px
            @media (min-width: $tablet-size + 0.92) {
                padding: 24px 0 59px 0;
            }
        }
            &__item {
                margin-bottom: 24px;
                
                // 1024px
                @media (min-width: $tablet-size) {
                    margin-bottom: 32px;
                }

                .content {
                    padding: 24px 16px;
                    
                    // 1024px
                    @media (min-width: $tablet-size) {
                        padding: 24px 29px;
                    }
                }
            }

    }
    
    .pagination {
        justify-content: center;
        
        // 1024px
        @media (max-width: $tablet-size) {
            margin-top: -36px;
        }
    }
}