.site-content { 
    margin-top: 115.11px;

    // 768px
    @media (min-width: $phone-size) {
        margin-top: 114px;    
    }

    // 1024.98px
    @media (min-width: $tablet-size) {
        margin-top: 126px;    
    }
    
    // 1200px
    @media (min-width: $desktop-size) {
        margin-top: 125.52px;    
    }
}

// Slick slider
.slick-slider {
    &:after {
        z-index: 1;
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, #003145 6.37%, rgba(0, 49, 69, 0) 74.84%);
        height: 140px;
        width: 100%;
        transform: rotate(180deg);
        display: block;
        content: "";
    }
}
    .slick-arrow {
        z-index: 3;
        position: absolute;
        top: 48%;
        background-color: transparent;
        width: 32px;
        height: 32px;
        text-indent: -9999px;

        &:hover,
        &:focus {
            box-shadow: none;
        }
        
        &.slick-prev {
            left: 2.125rem;
            background: url(images/arrow-left-icon.svg) no-repeat left center;
        }
        
        &.slick-next {
            right: 2.125rem;
            background: url(images/arrow-right-icon.svg) no-repeat right center;
        }

        // 768px
        @media (min-width: $phone-size + .98) {
            width: 48px;
            height: 48px;

            &.slick-prev {
                left: 24px;
            }

            &.slick-next {
                right: 24px;
            }
        }
    }

    .slick-dots {
        z-index: 2;
        position: absolute;
        bottom: 15px;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        list-style: none;

        li {
            display: inline;

            &:not(:last-child) {
                margin-right: 8px;
            }
            
            button {
                padding: 4px;
                background-color: transparent;
                width: 16px;
                height: 16px;
                border: 2px solid #fff;
                text-indent: -9999px;
                display: inline-block;
                border-radius: 10rem;
            }

            &.slick-active {
                button {
                    background-color: #fff;
                }
            }

        }

        @media (min-width: 575px) {
            bottom: 38px;
        }
    }

/**
 * Ninja Form
 */
.nf-form-wrap {

    %_field_ui {
        background-color: #EEF2F3;
        color: $color__primary-blue-default;
        border-radius: 0;
        border: 0;
    }

    .nf-before-form-content {
        display: none;
    }
    
    .nf-form-content {
        margin: 0 -5px;
        padding: 0;

        .list-select-wrap {
            > div {
                select {
                    @extend %_field_ui;
                    background-image: url(images/select-arrow-icon.svg);
                    background-position: 99% center;
                    background-repeat: no-repeat;
                }

                div {
                    &:after {
                        content: "";
                    }
                }
            }
        }
    }
    
    .nf-field {
        .nf-field-label {
            margin-bottom: 0 !important;

            label {
                margin-bottom: 8px;
                font-family: $font__secondary;
                font-weight: 500;
                @include font-size($font__size-mobile-h4/16);
                color: $color__primary-blue-default;

                // 1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-h4/16);
                }
            }
        }

        input[type="tel"],
        input[type="text"],
        input[type="email"],
        select,
        textarea {
            @extend %_field_ui;
        }
    }

    .submit-wrap {
        text-align: center;

        // 1024px
        @media (min-width: $tablet-size) {
            text-align: right;
        }
        
        input[type="button"] {
            padding: 14px 64px;
            background: $color__secondary-blue-hover;
            font-weight: 700;
            @include font-size($font__size-mobile-btn/16);
            letter-spacing: 0.1em;
            
            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-btn/16);
            }
        }
    }
}

/**
 * Fixed Menu
 */
.fixed-menu {
    z-index: 99;
    position: fixed;
    top: 22vh;
    right: 0;
    width: 37px;

    // 1024px
    @media (min-width: $tablet-size) {
        top: 32vh;
        width: 180px;
    }
    
    ul {
        li {
            margin-bottom: 9px;

            svg {
                margin-right: 16px;

                max-width: 22px;
                flex: 0 0 22px;

                path {
                    fill: $color__secondary-blue-default;
                }
            }
            
            a {
                position: relative;
                padding: 8px;
                background-color: #fff;
                font-weight: 700;
                font-family: $font__secondary;
                @include font-size($font__size-desktop-eyebrow/16);
                text-transform: uppercase;
                letter-spacing: 0.1em;
                box-shadow: 0px 12px 24px rgba(45, 45, 45, 0.1);
                color: #333;
                display: block;

                // 1024
                @media (min-width: $tablet-size) {
                    padding: 13px;
                }

                &:hover {
                    background-color: #fff;
                }

                span {
                    display: none;

                    // 1024px
                    @media (min-width: $tablet-size) {
                        display: inline;
                    }
                }
            }
        }
    }
}

/**
 * Share menu
 */
.share-menu {
    p {
        @include font-size(12/16);
        text-transform: uppercase;
        color: #333;
    }

    ul {
        margin-top: 12px;

        li {
            margin: 0 10px;
        }
    }
}


/**
 * Pagination
 */
.page-numbers {
    margin: 0;
    padding: 0;
    list-style: none;

    // center display
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    %_caret {
        width: 10px;
        height: 10px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid $color__accent-red-default;
        content: "";
    }

    li {
        padding: 0 12px;
    }
    
    .page-numbers {
        font-family: $font__secondary;
        font-weight: 900;
        @include font-size($font__size-mobile-h4/16);
        color: #C7C7C7;

        // 1024px
        @media (min-width: $tablet-size) {
            @include font-size($font__size-desktop-h4/16);
        }

        &.prev,
        &.next {
            // hide text
            font-size: 0;

            &:before {
                @extend %_caret;
            }
        }

        &.prev {
            transform: rotate(180deg);
        }

        &.current {
            color: $color__secondary-blue-hover;
        }
            
    }
}

/**
 * Back to top
 */
.back-to-top {}
    #back_top {
        font-weight: 500;
        font-family: $font__secondary;
        @include font-size($font__size-desktop-h4/16);
        color: #333;
    }


/**
 * Fields
 */
input[type="checkbox"],
input[type="radio"] {
    &:focus {
        outline: none;
    }
}

input[type="checkbox"] {
    position: relative;
    
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 2px solid $color__primary-blue-default;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked {
        background-color: $color__primary-blue-default;

        &::after {
            position: absolute;
            top: -2px;
            left: 2px;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            width: 6px;
            height: 10px;
            content: "";
            transform: rotate(45deg);
        }
    }
}

input[type="radio"] {
    position: relative;
    
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #DADADA;
    border-radius: 10rem;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.checked,
    &:checked {     
        border-color: $color__secondary-blue-default;

        &::after {
            position: absolute;
            top: 3px;
            left: 3px;
            background-color: $color__secondary-blue-default;
            width: 8px;
            height: 8px;
            border-radius: 10rem;
            content: "";
        }
    }
}

/**
 * Display
 */
.active {
    display: block !important;
}