.single-post {
    background-color: #F7F7F7;
    
    .site-main {
        margin: 76px 0 116px 0;
    }

    h1 {
        font-weight: 900;
        @include font-size($font__size-mobile-h3/16);
        color: $color__primary-blue-default;

        //1024px
        @media (min-width: $tablet-size) {
            @include font-size($font__size-desktop-h3/16);
        }
    }
    
    p {
        margin-bottom: 36px;
    }

    .entry-header {
        margin-bottom: 32px;
    }
        .cat {
            margin-bottom: 22px;
            
            a {
                font-family: $font__secondary;
                font-weight: 700;
                @include font-size($font__size-mobile-eyebrow/16);
                color: $color__secondary-blue-default;
                text-transform: uppercase;
                letter-spacing: 0.1em;

                //1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-eyebrow/16);
                }
            }
        }

        .entry-title {
            margin-bottom: 14px;
        }
        
        .entry-meta {
            time {
                text-transform: uppercase;
                @include font-size(12/16);
                color: #777;
            }
        }

    .entry-content {
        
        strong {
            font-weight: 700;
        }

    }


    /**
     * Next post
     */
    .next-post {
        position: relative;
        margin: 32px 0 62px 0;
        padding: 70px 0;
        
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(1, 48, 81, 0.7), rgba(1, 48, 81, 0.7));
            width: 100%;
            height: 100%;
            content: "";
        }
        
        //1024px
        @media (min-width: $tablet-size) {
            margin: 60px 0 96px 0;
        }  

        .content {
            z-index: 2;
            position: relative;
        }
            svg {
                polygon {
                    fill: #fff;
                }
            }

            &__label {
                margin-bottom: 8px;
                font-family: $font__secondary;
                font-weight: 700;
                @include font-size($font__size-desktop-eyebrow/16);
                color: $color__accent-yellow-b;
                text-transform: uppercase;

                //1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-eyebrow/16);
                }  
            }

            h3 {
                font-weight: 900;
                @include font-size($font__size-desktop-h4/16);
                color: #fff;

                //1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-h4/16);
                }   
            }
    }


    /**
     * Related Posts
     */
    .related-posts {
        
        .item-3 {
            display: none;
        }
        
        // 1024.98px
        @media (min-width: $tablet-size + 0.98) {
            .item-3 {
                display: inherit;
            }
        }

    }

}

/**
 * Single Spare Part, Apparel
 */
 .single-spare-part,
 .single-apparel {
    background-color: #F7F7F7;
    
    .site-main {
        margin: 40px 0 40px 0;
        
        // 1024px
        @media (min-width: $tablet-size) {
            margin: 64px 0 64px 0;
        }
    }

    .heading {
        margin-bottom: 32px;

        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 39px;
        }
        
        h3 {
            margin-bottom: 8px;
            font-weight: 700;
            @include font-size($font__size-mobile-eyebrow/16);
            color: $color__neutrals_150;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            // 1024px
            @media (min-width: $tablet-size) {
                @include font-size($font__size-desktop-eyebrow/16);
            }
        }
        h2 {
            font-weight: 900;
            @include font-size($font__size-desktop-h2/16);
            color: $color__primary-blue-default;
            line-height: 100%;
        }
    }

    .spare-parts-wrap {
        // 768px
        @media (max-width: $tablet-size) {
            background-color: #fff;
        }
    }
        .content-area {
            padding: 24px;
            background-color: #fff;
            border-radius: 5px;

            // 1024px
            @media (min-width: $tablet-size) {
                padding: 52px;
            }
        }
            figure {
                //1024px
                @media (min-width: $tablet-size) {
                    padding-right: 26px;
                }
                
                img {
                    min-width: 100%;
                }
            }
            
            h1 {
                font-weight: 900;
                @include font-size($font__size-mobile-h2/16);
                color: $color__secondary-blue-hover;
                
                //1024px
                @media (min-width: $tablet-size) {
                    @include font-size($font__size-desktop-h1/16);
                }
            }

            .entry-header {
                margin-bottom: 0;
                margin-top: 16px;

                //1024px
                @media (min-width: $tablet-size) {
                    margin-top: 0;
                }
                
                .entry-title {
                    margin-bottom: 24px;

                    // 1024px
                    @media (min-width: $tablet-size) {
                        margin-bottom: 24px;
                    }

                    // 1200px
                    @media (min-width: $desktop-size) {
                        margin-bottom: 16px;
                    }
                }
            }

            .price {
                margin-bottom: 21px;

                // 1024px
                @media (min-width: $tablet-size) {
                    margin-bottom: 16px;
                }

                // 1200px
                @media (min-width: $desktop-size) {
                    margin-bottom: 24px;
                }

                h3 {
                    margin-bottom: 0;
                    font-weight: 900;
                    @include font-size($font__size-desktop-h4/16);
                    color: $color__primary-blue-default;
                    text-transform: uppercase;
                    
                    //1024px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-h4/16);
                    }

                    span {
                        margin-bottom: 8px;
                        font-weight: 700;
                        @include font-size($font__size-desktop-eyebrow/16);
                        color: $color__neutrals_150;
                        line-height: 14px;
                        letter-spacing: 0.1em;

                        //1024px
                        @media (min-width: $tablet-size) {}
                    }
                }
            }
            
            .excerpt {
                p {
                    @include font-size($font__size-mobile-body/16);
                    color: $color__neutrals_225;
                    
                    //1024px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-body/16);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .specifications {
                margin-bottom: 24px;

                // 1024px
                @media (min-width: $tablet-size) {
                    margin-bottom: 33px;
                }

                // 1200px
                @media (min-width: $desktop-size) {
                    margin-bottom: 40px;
                }
            }

            .cta {
                a {
                    font-weight: 700;
                    @include font-size($font__size-mobile-btn/16);
                    color: $color__secondary-blue-default;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;

                    //1024px
                    @media (min-width: $tablet-size) {
                        @include font-size($font__size-desktop-btn/16);
                    }

                    span {
                        margin-left: 8px;
                    }
                }
            }
}

.single-spare-part {
    .excerpt {
        margin-bottom: 30px;
        
        // 1024px
        @media (min-width: $tablet-size) {
            margin-bottom: 24px;
        }
    }
}

.single-apparel {
    
    .cta {
        margin-top: 32px;
    }

}