.widget.rs-social {
	margin-top: 40px;
}

ul.social-media {
	text-align: center;
}
	ul.social-media li {
		padding: 10px 12px;
		display: inline-block;
	}
	ul.social-media li .icon {
		background: url('../images/sprite.png') no-repeat 0 0;
		width: 41px;
		height: 40px;
		display: block;
		content: "";
	}
		ul.social-media li .icon.facebook {
			background-position: 0 0;
		}
		ul.social-media li .icon.twitter {
			background-position: -41px 0;
		}
		ul.social-media li .icon.linkedin {
			background-position: -82px 0;
		}
		ul.social-media li .icon.youtube {
			background-position: -123px 0;
		}