.widget-area {
	padding: 2.25rem 2rem;
	border-radius: 32px;
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	
	.widget-title {
		margin-bottom: 1.25rem;
		font-weight: 800;
		font-size: 20px;
	}
	
	ul {
		margin-left: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		li {
			margin-bottom: 10px;

			a {
				font-weight: 500;
				@include font-size(0.875);
				color: $color__link;

				svg {
					margin-right: 0.375rem;
				}
			}
		}
		li.current-menu-item {
			a {
				font-weight: 700;
			}
		}
	}
}